<!-- <div class="carousel-item active" style="height:100vh">
                        <img class="w-100 h-100 d-none d-md-block" src="assets/img/banner/vasavi banner-01.jpg" alt="Image" />
                        <img class=" d-block d-md-none" src="assets/img/banner/vasavi banner-02.jpg" alt="">
                     
                    </div>
                
                    <div class="carousel-item " style="height:100vh">
                        <img class="w-100 h-100 d-none d-md-block" src="assets/img/banner/vasavi website banner.jpg" alt="Image" />
                        <img class=" d-block d-md-none" src="assets/img/banner/vasavi website banner-03.jpg" alt="">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-10">
                                        <h5 class="text-white text-uppercase mb-3 " data-aos="slide-down">Beyond Healthcare, We Care</h5>
                                        <h2 class="display-6 text-white mb-md-4 " data-aos="zoom-in">Beyond medical treatments, we offer genuine care. Your journey to healing starts here, at Vasavi Hospitals</h2>
                                    
                                        <a href="" class="btn btn-primary py-md-3 my-2 my-md-0 px-md-5 me-3 " data-aos="fade-right"   data-bs-toggle="modal" data-bs-target="#enquire">Book an Appointment</a>
                                        <a href="contact.php" class="btn btn-outline-light py-md-3 px-md-5 " data-aos="fade-left">Contact Us</a>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


<!-- <div class="carousel-item active" style="height:100vh">
                        <img class="w-100 h-100 d-none d-md-none d-lg-block" src="assets/img/banner/Vasavi Women's Day slider1.jpg" alt="Vasavi Hospitals" />
                        
                        <img class="w-100 h-100 d-block d-md-block d-lg-none" src="assets/img/banner/Vasavi Women's Day flyer a4_printable-01.jpg" alt="Vasavi Hospitals" />
                    
                    </div> -->




<!-- Carousel Start -->
<div class="container-fluid p-0 mb-0 " data-aos="fade-in" data-aos-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- <div class="carousel-inner">
            <div class="carousel-item active" style="height:100vh">
                <img class="w-100 h-100" src="img/banner/key-doctors-banner-of-vasavi-hospitals.png" alt="Vasavi Hospitals" />
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-11">
                                <h5 class="text-white text-uppercase mb-3 " data-aos="slide-down">
                                    Where Care Meets Compassion
                                </h5>
                                <h1 class="display-6 text-white mb-md-4 " data-aos="zoom-in">
                                    At Vasavi Hospitals, we believe in providing healthcare that combines
                                    expertise with empathy, making a real difference in your well-being
                                </h1>
                                <a href="" class="btn btn-primary py-md-3 my-2 my-md-0 px-md-5 me-3 "
                                    data-aos="fade-right" data-bs-toggle="modal" data-bs-target="#enquire">Book an
                                    Appointment</a>
                                <a rel="canonical" [routerLink]="'/contact'"
                                    class="btn btn-outline-light py-md-3 px-md-5 " data-aos="fade-left">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="height:100vh">
                <img class="w-100 h-100" src="img/banner/banner5.webp" alt="Vasavi Hospitals" />
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-10">
                                <h5 class="text-white text-uppercase  " data-aos="slide-down">
                                    Your Health, Our Priority
                                </h5>

                                <h2 class="display-6 text-white mb-md-4 " data-aos="zoom-in">
                                    Your health is at the heart of what we do. Vasavi Hospitals is your
                                    trusted partner in the journey to a healthier, happier life
                                </h2>
                                <a href="" class="btn btn-primary py-md-3 my-2 my-md-0 px-md-5 me-3 "
                                    data-aos="fade-right" data-bs-toggle="modal" data-bs-target="#enquire">Book an
                                    Appointment</a>
                                <a rel="canonical" [routerLink]="'/contact'"
                                    class="btn btn-outline-light py-md-3 px-md-5 " data-aos="fade-left">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="height:100vh">
                <img class="w-100 h-100" src="img/banner/banner3.avif" alt="Vasavi Hospitals" />
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-10">
                                <h5 class="text-white text-uppercase mb-3 " data-aos="slide-down">Beyond Healthcare, We
                                    Care</h5>
                                <h2 class="display-6 text-white mb-md-4 " data-aos="zoom-in">Beyond medical treatments,
                                    we
                                    offer genuine care. Your journey to healing starts here, at Vasavi Hospitals</h2>

                                <a href="" class="btn btn-primary py-md-3 my-2 my-md-0 px-md-5 me-3 "
                                    data-aos="fade-right" data-bs-toggle="modal" data-bs-target="#enquire">Book an
                                    Appointment</a>
                                <a rel="canonical" [routerLink]="'/contact'"
                                    class="btn btn-outline-light py-md-3 px-md-5 " data-aos="fade-left">Contact Us</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div> -->


        <div class="carousel-inner">
            <div class="carousel-item active carousel-style">
                <img class="w-100 h-100 desktop-banner" src="img/banner/key-doctors-banner-of-vasavi-hospitals.png" alt="Vasavi Hospitals" />
                <img class="w-100 h-100 mobile-banner" src="img/banner/key-doctors-banner-of-vasavi-hospitals-mobile.png" alt="">
                <div class="banner-buttons key-doc-button">
                    <button class="book-btn">Book an Appointment</button>
                    <button class="call-btn">Contact Us</button>
                </div>
            </div>
            <div class="carousel-item active">
                <img class="w-100 h-100 desktop-banner" src="img/banner/robotic-surgery-banner.png" alt="Vasavi Hospitals" />
                <img class="w-100 h-100 mobile-banner" src="img/banner/robotic-surgery-banner-mobile.png" alt="Vasavi Hospitals" />
                <div class="banner-buttons robotic-banner-button">
                    <button class="book-btn">Book an Appointment</button>
                    <button class="call-btn">Contact Us</button>
                </div>
            </div>
            <div class="carousel-item active">
                <img class="w-100 h-100 desktop-banner" src="img/banner/doctor-welcoming-banner.png" alt="Vasavi Hospitals" />
                <img class="w-100 h-100 mobile-banner" src="img/banner/doctor-welcoming-banner-mobile.png" alt="Vasavi Hospitals" />
                <div class="banner-buttons welcome-doc-button">
                    <button class="book-btn">Book an Appointment</button>
                    <button class="call-btn">Contact Us</button>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->


<main>

    <section class="bg-white">
        <div class="container">


            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div class="heart">
                        <img class="w-100" src="img/gallery/8.png" alt="" alt="About Vasavi Hospitals">
                    </div>
                </div>

                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div class="decri-para1">
                        <div class="section-header1">
                            <h2>About Vasavi Trust</h2>
                        </div>

                        <p>
                            Sree Vasavi Trust, established in 1951, is committed to serving society
                            without bias in social, educational, and medical realms. With a vision
                            to offer quality education, support economically disadvantaged students,
                            and provide affordable world-class healthcare, the trust has been
                            dedicated to transforming lives and communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ======= Values Section ======= -->
    <section id="values" class="values bg-light">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Our Features</h2>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="0.2s">
                    <div class="box bg-white">
                        <img src="img/Home/Comprehensive.jpg" class="img-fluid pb-3"
                            alt="Comprehensive Healthcare Services">
                        <h3>Comprehensive Healthcare Services</h3>
                        <p>
                            Offering multispecialty care and advanced diagnostics under
                            one roof.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="0.4s">
                    <div class="box bg-white">
                        <img src="img/Home/personalized-healthcare.jpg" class="img-fluid pb-3"
                            alt="Personalized Approach">
                        <h3>Personalized Approach</h3>
                        <p>Prioritizing patient care, professionalism, and hope for healing.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="0.6s">
                    <div class="box bg-white">
                        <img src="img/Home/3.jpg" class="img-fluid pb-3" alt="Experience and Success">
                        <h3>Experience and Success</h3>
                        <p>
                            Over 8+ years of experience, 10000+ successful surgeries, and a <strong> high success
                                rate</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Values Section -->



    <section class="bg-white">
        <div class="container">

            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <img src="img/Home/bg1.avif" alt="Who We Are" class="w-100">
                </div>

                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div class="decri-para1">
                        <div class="section-header1">
                            <h2>Who we are?</h2>
                        </div>
                        <p>
                            Vasavi Hospitals is a leading healthcare institution committed to providing comprehensive
                            and compassionate medical care. With a team of experienced professionals, advanced
                            technology, and a commitment to excellence, we aim to be your trusted healthcare partner.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= About Section ======= -->
    <section class="bg-light">
        <div class="container">
            <div class="section-header">
                <h2>Treatment that we provide</h2>
            </div>

            <owl-carousel-o #owlCar [options]="customOptions">
                <ng-container *ngFor="let item of treatments">
                    <ng-template carouselSlide>
                        <div class="testimonial" style="width: 100%; padding: 10px;">
                            <div class="team-item treat-img position-relative">
                                <img [src]="item.img" [alt]="item.title" />
                                <div class="team-text bg-white p-4">
                                    <h3>{{ item.title }}</h3>
                                    <a [routerLink]="item.link" class="btn btn-primary">Know More</a>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </section>

    <!-- ======= End About Section ======= -->

    <section class="bg-white">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 align-items-center order-md-2 pb-3 pb-md-0">
                    <img src="img/Home/contact.jpg" alt="Call to action" class="w-100 h-100">
                </div>

                <div class="col-12 col-md-6 bg-dark align-items-center">
                    <div class="p-4 p-md-5 content">
                        <h2 class="text-white mb-3 mb-md-4">If You Have Any Queries Please Call Us</h2>
                        <p class="text-white mb-4">
                            Experience Exceptional Care Today! Contact Vasavi Hospitals for Expert Medical
                            Attention and Personalized Healthcare Solutions. Your Health is Our Priority - Book an
                            Appointment
                            to Begin Your Journey to a Healthier Life!
                        </p>

                        <a href="" class="btn btn-light py-md-3 px-md-5" data-bs-toggle="modal"
                            data-bs-target="#enquire">Book An Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="doctor-slide">
        <div class="section-header">
            <h2>Our Key Doctors</h2>
        </div>
        <app-doctors-slide [doctorSlide]="doctorSlide">
        </app-doctors-slide>
    </div>


    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts bg-light">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Key Statistics</h2>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-10 col-lg-3  col-md-6 pb-3  d-flex align-items-stretch">
                        <div class="count-box ">
                            <i class="bi bi-emoji-smile"></i>
                            <div>
                                <p><h2>10000+</h2> Successful Surgeries</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-10 col-lg-3 col-md-6 pb-3 d-flex align-items-stretch">
                        <div class="count-box">
                            <i class="bi bi-headset" style="color: #15be56;"></i>
                            <div>
                                <p><h2 style="">8+</h2> Years of Experience</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 col-lg-3 col-md-6 pb-3 d-flex align-items-stretch">
                        <div class="count-box">
                            <i class="bi bi-people" style="color: #bb0852;"></i>
                            <div>
                                <p> <h2>300,000+</h2> Patients</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 col-lg-3 col-md-6 pb-3 d-flex align-items-stretch">
                        <div class="count-box">
                            <i class="bi bi-person-plus" style="color: #ee6c20;"></i>
                            <div>
                                <p> <h2>30+</h2>  Specialties</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 col-lg-3 col-md-6 pb-3 d-flex align-items-stretch">
                        <div class="count-box">
                            <i class="bi bi-hand-thumbs-up" ></i>
                            <div>
                                <p> <h2>High</h2>   Success rate </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    <section class="bg-light">
        <div class="container">
            <div class="section-header">
                <h2>Key Statistics</h2>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-11 col-md-4 pb-3 d-flex align-items-stretch">
                    <div class="testimonial-content1 w-100 ">
                        <div class="testimonial-icon">
                            <i class="bi bi-emoji-smile"></i>
                        </div>

                        <h3 class="title">10000+</h3>
                        <h3 class="title">Successful Surgeries</h3>
                    </div>
                </div>


                <div class="col-11 col-md-4 pb-3 d-flex align-items-stretch">
                    <div class="testimonial-content2 w-100">
                        <div class="testimonial-icon">
                            <i class="bi bi-headset"></i>
                        </div>

                        <h3 class="title">8+</h3>
                        <h3 class="title">Years of Experience</h3>
                    </div>
                </div>

                <div class="col-11 col-md-4 pb-3 d-flex align-items-stretch">
                    <div class="testimonial-content1 w-100">
                        <div class="testimonial-icon">
                            <i class="bi bi-people"></i>
                        </div>

                        <h3 class="title">300,000+</h3>
                        <h3 class="title">Patients are satisfied </h3>
                    </div>
                </div>


                <div class="col-11 col-md-4 d-flex align-items-stretch">
                    <div class="testimonial-content2 w-100">
                        <div class="testimonial-icon">
                            <i class="bi bi-person-plus"></i>
                        </div>

                        <h3 class="title">30+</h3>
                        <h3 class="title">Specialties</h3>
                    </div>
                </div>

                <div class="col-11 col-md-4  d-flex align-items-stretch">
                    <div class="testimonial-content1 w-100">
                        <div class="testimonial-icon">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </div>

                        <h3 class="title">High</h3>
                        <h3 class="title">Success rate</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Category Start -->
    <section class="bg-white">
        <div class="container">

            <div class="section-header">
                <h2>State-of-the-art Infrastructure</h2>
            </div>

            <div class="row d-flex justify-content-center">

                <div class="col-lg-4 col-sm-6 pb-2" data-aos="fade-up" data-aos-delay="0.3s">
                    <a class="cat-item d-block  text-center rounded p-3" href="" style="background:#fff2bb">
                        <div class="rounded p-4">

                            <p class="pt-3">153 Beds</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 pb-2" data-aos="fade-up" data-aos-delay="0.5s">
                    <a class="cat-item d-block  text-center rounded p-3" href="" style="background:#c1eafe">
                        <div class="rounded p-4">

                            <p class="pt-3">Laminar air flow OT</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 pb-2" data-aos="fade-up" data-aos-delay="0.7s">
                    <a class="cat-item d-block  text-center rounded p-3" href="" style="background:#ffd2d2">
                        <div class="rounded p-4">

                            <p class="pt-3">Advanced MRI & CT Scan</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 pb-2" data-aos="fade-up" data-aos-delay="0.1s">
                    <a class="cat-item d-block  text-center rounded p-3" href="" style="background:#d5ffad">
                        <div class="rounded p-4">

                            <p class="pt-3">16 ICU Beds (Equipped with Maquet ventilator)</p>
                        </div>
                    </a>
                </div>


                <div class="col-lg-4 col-sm-6 pb-2" data-aos="fade-up" data-aos-delay="0.1s">
                    <a class="cat-item d-block  text-center rounded p-3" href="" style="background:#f7cdff">
                        <div class="rounded p-4">

                            <p class="pt-3">24/7 Laboratory & Radiology Services</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Category End -->


    <section class="bg-light">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <img src="img/Home/advanced.jpg" class="w-100 h-100" alt="Advanced Technologies">
                </div>

                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div class="decri-para1">
                        <div class="section-header1">
                            <h2>Advanced Technologies</h2>
                        </div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <h5>Full Flat Panel Philips Cath Lab</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">2</th>
                                    <td>
                                        <h5>Cavitron Ultrasonic Surgical Aspirator (CUSA)</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        <h5>Lap Tower</h5>
                                    </td>
                                </tr>



                                <tr>
                                    <th scope="row">4</th>
                                    <td>
                                        <h5>Neuro Navigation System</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">5</th>
                                    <td>
                                        <h5>Leica Microscope</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">6</th>
                                    <td>
                                        <h5>Laser Machines: Dermatology Harmony</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">7</th>
                                    <td>
                                        <h5>3 Tesla MRI</h5>
                                    </td>
                                </tr>


                                <tr>
                                    <th scope="row">8</th>
                                    <td>
                                        <h5>128 Slice CT</h5>
                                    </td>
                                </tr>


                                <tr>
                                    <th scope="row">9</th>
                                    <td>
                                        <h5>Allergy Explorer</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">10</th>
                                    <td>
                                        <h5>Mako Robot Assisted Surgery by Stryker</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">11</th>
                                    <td>
                                        <h5>Whole Body Phototherapy Unit</h5>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section class="testimonials mb-3"
        style="background-image: url('https://images.unsplash.com/photo-1580912458702-6fa698fc553e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
        <div class="container">
            <div class="title">
                <h5>Testimonials</h5>
                <h2>What Our Patients Say <br> About Us</h2>
            </div>

            <owl-carousel-o #owlCar2 [options]="customOptions2">
                <ng-container *ngFor="let t of testimonials">
                    <ng-template carouselSlide>
                        <div class="testi px-2 px-md-4">
                            <div class="item">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 col-sm-12 col-md-5">
                                        <div class="profile">
                                            <img [src]="t.img" alt="Testimonial" />
                                            <div class="information">
                                                <div class="stars">
                                                    <i class="fa fa-star" *ngFor="let s of [1,2,3,4,5]"></i>
                                                </div>
                                                <p>{{ t.name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>{{ t.text }}</p>
                                <div class="icon">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </section>

    <app-cta></app-cta>