section {
  padding: 30px 0;
  overflow: hidden;
}

.mobile-banner{
  display: none;
}

.carousel-style{
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-buttons{
  display: flex;
  gap: 10px;
  /* margin-top: -100px; */
}

.key-doc-button{
    position: absolute;
    bottom: 100px;
    right: 10%;
}

.welcome-doc-button{
  position: absolute;
  bottom: 10px;
  left: 2%;
}

.robotic-banner-button{
    position: absolute;
    bottom: 100px;
    right: 15%;
}

 .book-btn {
     display: inline-block;
     background: #007bff;
     color: #fff;
     font-size: 18px;
     font-weight: 600;
     padding: 14px 28px;
     border-radius: 8px;
     text-decoration: none;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
     transition: all 0.3s ease;
     border: none;
     outline: none;
 }

 .call-btn{
    display: inline-block;
     background: transparent;
     color: #007bff;
     font-size: 18px;
     font-weight: 600;
     padding: 14px 28px;
     border-radius: 8px;
     text-decoration: none;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
     transition: all 0.3s ease;
     border: 2px solid #007bff;
     outline: none;
 }

.section-header {
  text-align: center;
  padding-bottom: 20px;
}

.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
  height: 300px;
}

.values .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}

.decri-para1 p {
  text-align: start;
  font-size: 18px !important;
  font-weight: 400;

}

.section-header1 {
  text-align: center;
  padding-bottom: 10px;
}

.section-header1 h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: capitalize;
}


.team-text {
  position: absolute;
  width: 80%;
  bottom: 30px;
  left: 0;
  transition: .5s;
}

.team-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* transform: scale(1); */
}

.team-item:hover .team-text {
  width: 100%;
}

.team-text * {
  transition: .5s;
}

.team-item:hover .team-text * {
  letter-spacing: 2px;
}

.heart img {
  color: #000;
  animation: beat 2.9s infinite;
  text-shadow:
    0 0 5px red,
    0 0 45px red,
    0 0 90px red;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.25);
  }

  40% {
    transform: scale(0.9);
  }
}


h3,
h4,
.fw-semi-bold {
  font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 600 !important;
}

.content p {
  text-align: start;
  font-size: 18px !important;
  font-weight: 400;

}

.bg-dark {
  background-color: rgb(9, 30, 62) !important;
}


.testimonial {
    margin: 0 20px 20px;
}


.testimonial .testimonial-content {
  padding: 35px 25px 35px 50px;
  margin-bottom: 5px;
  background: #fff;
  position: relative;
  height: 250px;
}

.testimonial-content1 {
  padding: 15px 15px 15px 50px;
  margin-bottom: 5px;
  /* background: #fff; */
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--blue);

}

.testimonial-content2 {
  padding: 15px 15px 15px 50px;
  margin-bottom: 5px;
  /* background: #fff; */
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--orange);

}


.testimonial-content1 h3 {

  font-size: 24px;
  text-transform: capitalize;
  color: var(--blue);
}

.testimonial-content2 h3 {

  font-size: 24px;
  text-transform: capitalize;
  color: var(--orange);
}

.testimonial .testimonial-content:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-top: 15px solid #718076;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.testimonial-content1:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  /* border-top: 15px solid #718076; */
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.testimonial-content2:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  /* border-top: 15px solid #718076; */
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.testimonial-content1:after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  /* border-top: 15px solid #718076; */
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.testimonial-content2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  /* border-top: 15px solid #718076; */
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.testimonial .testimonial-content:after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  border-top: 15px solid #718076;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.testimonial-content .testimonial-icon {
  width: 50px;
  height: 45px;
  background: #0095da;
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 42px;
  position: absolute;
  top: 37px;
  left: -19px;
}



.testimonial-content1 .testimonial-icon {
  width: 45px;
  height: 45px;
  background: var(--secondary);
  text-align: center;
  font-size: 30px;
  color: #fff;
  /* line-height: 42px; */
  position: absolute;
  top: 30px;
  left: -19px;
  border-radius: 50px;
}

.testimonial-content2 .testimonial-icon {
  width: 45px;
  height: 45px;
  background: var(--professional);
  text-align: center;
  font-size: 30px;
  color: #fff;
  /* line-height: 42px; */
  position: absolute;
  top: 30px;
  left: -19px;
  border-radius: 50px;
}



.testimonial-content .testimonial-icon:before {
  content: "";
  border-bottom: 16px solid #0095da;
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
}


.testimonial-content1 .testimonial-icon:before {
  content: "";
  /* border-bottom: 16px solid #0095da; */
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
}

.testimonial-content2 .testimonial-icon:before {
  content: "";
  /* border-bottom: 16px solid #0095da; */
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
}


.cat-item div {
  background: #FFFFFF;
  border: 1px dashed rgba(0, 185, 142, .3);
  transition: .5s;
}

.cat-item:hover div {
  background: var(--primary);
  border-color: transparent;
}

.cat-item div * {
  transition: .5s;
}

.cat-item p {
  font-size: 18px;
  color: #000;
}

.cat-item:hover div * {
  color: #FFFFFF !important;
}

a {
  text-decoration: none;
}

.bg-light {
  background-color: rgb(238, 249, 255) !important;
}


.testimonials {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  font-family: 'Poppins', sans-serif
}

.testimonials::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(20, 19, 13, 0.86);
}

.testimonials .title {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

.testimonials .title h5 {
  color: #fff;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: -3px;
}

.testimonials .title h2 {
  color: #fff;
  line-height: 1.4em;
  font-weight: 900;
  font-size: 34px;
  letter-spacing: -1px;
  margin: 0
}

.testimonials .title img {
  margin-top: -10px;
}

.testimonials .title p {
  margin: 0 0 10px;
  margin-bottom: 0;
  color: #5A3733;
}

.testimonials .testi .item {
  background: #fff;
  padding: 50px 30px;
  border-radius: 15px;
  width: 100%;
}

.testimonials .testi .item .profile {
  display: flex;
  padding-left: 15px;
}

.testimonials .testi .item .profile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover
}

.testimonials .testi .item .profile .information {
  padding-left: 20px;
  margin-bottom: 15px
}

.testimonials .testi .item .profile .information .stars i {
  color: #ffd832
}

.testimonials .testi .item .profile .information p {
  font-size: 18px;
  margin: 0px auto 0px;
  color: #5A3733;
  font-weight: 900;
  line-height: 1;
}

.testimonials .testi .item .profile .information span {
  color: #EB6D2F;
  font-weight: bold;
  margin-top: -4px;
  line-height: 1.6em;
  font-size: 14px;
}

.testimonials .testi .item>p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6em;
  display: block;
  z-index: 2;
  color: #5A3733;
  text-align: start;
}

.testimonials .testi .item .icon {
  text-align: center;
}

.testimonials .testi .item .icon i {
  font-size: 32px;
  color: #FFD832;
}

.testi .item {
  height: 350px;
}

h3,
.h3 {
  font-size: 1.75rem;
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, .65);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
  top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeIn {
  animation-name: fadeIn;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--dark);
  border: 15px solid var(--dark);
  border-radius: 50px;
}

.carousel-caption .breadcrumb-item+.breadcrumb-item::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--primary);
}

.doctor-slide{
  padding: 30px;
}



@media only screen and (max-width: 480px) {
  .decri-para1 p {
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 400;
    padding-top: 5px;
    margin: 0px;
  }


  .section-header1 h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .section-header1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .content p {
    text-align: center;
    font-size: 16px !important;
    font-weight: 400;

  }

  .content {
    text-align: center;
  }

}


@media only screen and (max-width: 600px) {
  .decri-para1 p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    margin: 0px;
  }


  .section-header1 h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .section-header1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .content {
    text-align: center;
  }

  .values .box img {
    padding: 10px 20px;
    transition: 0.5s;
    transform: scale(1.1);
    height: auto;
  }

  .testi .item {
    height: auto !important;
  }

}

@media (max-width : 1024px){
  .key-doc-button{
    right: 2%;
  }

  .robotic-banner-button{
    right: 5%;
  }

  .welcome-doc-button{
    .call-btn, .book-btn{
     font-size: 14px;
     font-weight: 600;
     padding: 14px;
 }
  }
}

@media (max-width : 850px){
  .key-doc-button{
    right: 2%;
    flex-direction: column;
    bottom: 20px;
  }

  .robotic-banner-button{
    right: 17%;
    flex-direction: column;
    bottom: 20px;
  }

  .call-btn, .book-btn{
     font-size: 14px;
     font-weight: 600;
     padding: 14px;
 }

 .welcome-doc-button{

    bottom: 5px;

    .call-btn, .book-btn{
     font-size: 12px;
     font-weight: 600;
     padding: 12px;
 }
  }
}

@media (max-width : 600px){
  .key-doc-button, .robotic-banner-button, .welcome-doc-button{
    left: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .desktop-banner{
    display: none;
  }

  .mobile-banner{
    display: block;
  }
}

@media (max-width: 400px){
  
  .call-btn, .book-btn{
     font-size: 12px;
     font-weight: 600;
     padding: 10px;
 }
}

@media only screen and (min-width: 750px) {
  section {
    padding: 20px 0;
    overflow: hidden;
  }

  .values .box img {
    padding: 10px 20px;
    transition: 0.5s;
    transform: scale(1.1);
    height: 200px;
  }

  .section-header1 h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .decri-para1 p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    margin: 0px;
  }


  .section-header1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .content {
    text-align: center;
  }

}