:root {
  --primary: #0095da;
  --secondary: #2e3192;
  --light: #EEF9FF;
  --dark: #091E3E;
  --prime-color: #2e3192;
  --second-color: #0095da;
  --pink: #e53e6d;
  --white: white;
  --gray: #999;
  --lightgray: whitesmoke;
  --popular: #ffdd40;
  --starter: #f73859;
  --essential: #00AEEF;
  --professional: #FF7F45;
  --blue: #043772;
  --orange: #ec7e30;
}

* {
  font-family: 'Nunito', sans-serif;
}


h1,
h2,
.fw-bold {
  font-weight: 800 !important;
}


.btn-primary {
  background-color: #0095da;
  border-color: #0095da;
}

.btn-primary {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 149, 218);
  border-color: rgb(0, 149, 218);
}

.btn-primary,
.btn-secondary {
  color: #FFFFFF;
  box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
  box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}


.table {
  --bs-table-bg: rgba(0, 0, 0, 0);
  --bs-table-striped-color: #6B6A75;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #6B6A75;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #6B6A75;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: rgb(107, 106, 117);
  vertical-align: top;
  border-color: rgb(222, 226, 230);
}