section {
    padding: 20px 0;
    overflow: hidden;
}

.bg-primary {
    background-color: #0095da !important;
}

@media only screen and (max-width: 480px) {
    section {
        padding: 20px 0;
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px) {
    section {
        padding: 20px 0;
        overflow: hidden;
    }
}

@media only screen and (min-width: 750px) {
    section {
        padding: 20px 0;
        overflow: hidden;
    }
}