<div class="container_1"></div>

    <!-- hero section
    <div class="hero-section">
        <div class="hero_content">
            <h1 class="s_h1">Affordable Appendix Surgery in Bangalore</h1>
            <p class="s_para">
                <strong>Appendicitis</strong> is a medical emergency that requires the surgical removal of the appendix — a small pouch in the lower right abdomen — through an <strong>Appendectomy (Appendicectomy)</strong>. While <strong>Laparoscopic Appendectomy</strong> (keyhole surgery) remains a trusted standard, <strong>Vasavi Hospitals, Bangalore</strong> takes it further with advanced <strong>Robotic Appendectomy</strong> for greater precision and faster recovery.
            </p>
            
            <p class="s_para">
                Our focus is on delivering <strong>safe, precise, and minimally invasive appendix surgery in Bangalore</strong> with faster healing, minimal pain, and a quicker <strong>Appendix Removal Recovery Time</strong>.
            </p>
            
            <div class="points">
                <div class="point">
                    <div class="icon"><i class="fa-solid fa-check"></i></div>
                    <div class="s_para">Minimally Invasive Techniques – Laparoscopic & Robotic options</div>
                </div>
                <div class="point">
                    <div class="icon"><i class="fa-solid fa-check"></i></div>
                    <div class="s_para">Faster Recovery and Shorter Hospital Stay</div>
                </div>
                <div class="point">
                    <div class="icon"><i class="fa-solid fa-check"></i></div>
                    <div class="s_para">Reduced Pain and Minimal Scarring</div>
                </div>
                <div class="point">
                    <div class="icon"><i class="fa-solid fa-check"></i></div>
                    <div class="s_para">Experienced Team of Robotic & Laparoscopic Surgeons</div>
                </div>
                <div class="point">
                    <div class="icon"><i class="fa-solid fa-check"></i></div>
                    <div class="s_para">Transparent, All-Inclusive Packages starting at ₹1,80,000* (T & C Apply)</div>
                </div>
            </div>

            <div class="hero-button-flex">
                <button class="book-appointment-btn" (click)="openPopup()">
                    <i class="fa-solid fa-calendar-check"></i> Book an Appointment
                </button>
                <a class="call-now-btn">
                    <i class="fa-solid fa-phone"></i> Call Now
                </a>
            </div>
        </div>



        <app-callback-form  [pageName]="'Appendectomy'"/>
    </div> -->


    <!-- stat section -->

    <section class="stats-section ">
        <p class="stats-subtitle">
            Years of Expertise in  <strong style="color: rgb(255, 208, 0);"> Advanced Piles Treatment</strong>
        </p>

        <div class="stats-container">
            <div class="stat-card">
                <div class="icon-box yellow">
                    <i class="fa-solid fa-stethoscope"></i>
                </div>
                <div class="stat-content">
                    <h3>15,000+</h3>
                    <p> Successful Surgeries Performed</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="icon-box pink">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="stat-content">
                    <h3>80-97%</h3>
                    <p>Success Rate</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="icon-box blue">
                    <i class="fa-solid fa-bed"></i>
                </div>
                <div class="stat-content">
                    <h3>25+</h3>
                    <p>Years Experienced Surgeons</p>
                </div>
            </div>
        </div>
    </section>



        <!-- What is hernia -->
        <section class="what-is-hernia">
            <div class="what_content_Section">
                <h1>Affordable Piles Surgery in Bangalore</h1>
                <h2>What is Piles Surgery (Haemorrhoidectomy)?</h2>
                <p>Piles are swollen veins in the lower rectum or anus that cause pain, itching or bleeding during bowel movements. When medication and lifestyle changes don’t help, Haemorrhoidectomy - a surgical removal of piles - is recommended for lasting relief.</p>
                <p>At Vasavi Hospitals, our experienced surgeons perform <span class="bold">Advanced Laser and Conventional Piles Surgery </span>with utmost precision and care. These methods ensure minimal pain, less bleeding and faster recovery, helping you return to normal life comfortably.</p>
                <p>If you notice bleeding, pain or swelling around the anal region, it’s important to consult our specialists early for accurate diagnosis and safe treatment.
                </p>
            </div>
            <div class="video">
                <video autoplay loop muted playsinline>
                    <source src="/img/packages/hernia-video.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>

        <div class="hernia-section-a">

            <div class="feature-wrapper">
    
                <div class="features-grid-content">
    
                    <div class="header-container">
                        <h2>Know the Signs. Choose the Right Care.</h2>
                        <p>Many people delay piles treatment due to embarrassment or fear of surgery. At Vasavi Hospitals, we provide safe, compassionate and effective solutions that relieve discomfort and prevent recurrence.</p>
                    </div>
    
                    <div class="features-grid">
                        <div class="feature-card">
                            <h3>Common Symptoms</h3>
                            <ul>
                                <li class="s_para" style="margin-top: 10px;">Bleeding during bowel movements</li>
                                <li class="s_para" style="margin-top: 10px;">Pain, itching or burning sensation in the anal area</li>
                                <li class="s_para" style="margin-top: 10px;">Swelling or lump around the anus</li>
                                <li class="s_para" style="margin-top: 10px;">Mucus discharge or discomfort while sitting</li>
                            </ul>
                        </div>
                        <div class="feature-card">
                            <h3>Surgery Options</h3>
                            <p>At Vasavi Hospitals, Piles Surgery is performed using <span class="bold">Laser or Conventional methods</span> depending on your condition. Laser treatment offers quicker healing and minimal discomfort, while conventional surgery ensures complete removal in severe cases.</p>
                        </div>
                        <div class="feature-card">
                            <h3>Affordable & Insurance-Covered Packages</h3>
                            <p>Transparent, all-inclusive packages starting at affordable cost with cashless insurance options, making advanced surgical care accessible and stress-free</p>
                        </div>
                    </div>
    
                </div>
    
                <div class="form">
                    <app-callback-form  [pageName]="'Haemorrhoidectomy'"/>
                </div>
    
            </div>
    
            <p class="note-text">
                <strong><i class="fa-solid fa-info"></i> Note:</strong> Robotic surgery refers to robotic-assisted surgery.
                It is not performed by robots alone. All procedures are performed by our skilled surgeons.
            </p>
    
            <button class="cta-button" (click)="openPopup()">Check Availability & Book Now</button>
        </div>
    
        <!-- <app-doctors-card [doctorDetails]="doctors" [headers]="doctorHeader" /> -->
    
    <!-- <div class="hernia-flow-section">
        <div class="section-header">
            <h1>Understanding Appendicitis: Signs & When to Seek Treatment</h1>
            <p>Whether it's the sudden onset or subtle discomfort, recognizing the <span style="font-weight: 800;">symptoms of appendicitis</span> is the first step toward effective treatment. We offer specialized, minimally invasive care for this urgent condition.</p>
        </div>

        <div class="hernia-comparison-blocks">
            <div *ngFor="let hernia of herniaTypes" class="hernia-block" [ngClass]="hernia?.cssClass">

                <span class="type-badge">{{ hernia.badgeText }}</span>
                <h2>{{ hernia.title }}</h2>
                <p [innerHTML]="hernia.description"></p>

                <div class="tag-flex">
                    <div class="tag"*ngIf="hernia.location">{{ hernia?.location }}</div>
                    <div class="tag" *ngIf="hernia.recoverytime">{{ hernia?.recoverytime }}</div>
                    <div class="tag" *ngIf="hernia.hospitalStay">{{ hernia?.hospitalStay }}</div>
                </div>

            </div>
        </div>

    </div> -->

      <!-- comparison -->
      <div class="comparison-section" style="margin-top: 30px;">
        <div class="comparison-header">
            <h2>Robotic vs. Laparoscopic  Surgery: What's the Difference?</h2>
            <p>While both are minimally invasive, the Da Vinci Xi Robotic System offers superior precision,
                leading to faster recovery and better patient outcomes compared to traditional laparoscopy.</p>
        </div>

        <div class="comparison-table">
            <div class="comparison-column robotic-column">
                <img src="img/packages/intuitive-davinci-xi-system-lineup-lowres.jpg" alt="Da Vinci Xi Robotic Surgery System" class="comparison-image">
                <h2>Robotic Surgery (Da Vinci Xi)</h2>
                <ul>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>3D HD Vision:</strong> Surgeon sees the surgical field in high-definition,
                            three-dimensional view for unparalleled depth perception.</p>
                    </li>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>Enhanced Dexterity:</strong> Robotic instruments have seven degrees of motion,
                            mimicking the human wrist, which allows for finer and more precise suturing (stitching).
                        </p>
                    </li>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>Superior Precision:</strong> Filters out natural hand tremors and allows for more
                            complex, delicate repairs.</p>
                    </li>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>Reduced Pain & Scarring:</strong> The high precision results in less trauma to
                            surrounding tissue.</p>
                    </li>
                </ul>
            </div>

            <div class="comparison-column robotic-column">
                <img src="img/packages/laproscopic.jpg" alt="Laparoscopic Hysterectomy Surgery" class="comparison-image">
                <h2>Laparoscopic Surgery</h2>
                <ul>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>2D Vision:</strong> Surgeons view a flat, two-dimensional image, which can limit
                            depth perception.</p>
                    </li>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>Limited Movement:</strong> Instruments have restricted movement (4 degrees of
                            motion), making complex suturing more challenging.</p>
                    </li>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>Good Precision:</strong> Excellent compared to open surgery, but lacks the
                            micro-movements of a robotic system.</p>
                    </li>
                    <li class="plus">
                        <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                        <p><strong>Minimal Scarring:</strong> Also offers small incisions, but robotic methods often
                            allow for even smaller, strategically placed cuts.</p>
                    </li>
                </ul>
            </div>
        </div>

        <a (click)="openPopup()" class="cta-button-comparison">Talk to a Specialist About Robotic Surgery</a>
    </div>
        <div class="surgery-timeline-h">
            <div class="timeline-header-h">
                <h1>What to Expect During Piles Surgery (Haemorrhoidectomy)</h1>
                <p>Your Step-by-Step Care Journey</p>
            </div>
        
            <div class="timeline-container-h">
                <div class="timeline-step-h">
                    <div class="step-marker-h">1</div>
                    <h3>Consultation & Evaluation</h3>
                    <p>Meet our colorectal specialists for a detailed assessment. We review your symptoms, perform a clinical examination and recommend the best treatment plan based on your condition</p>
                </div>
        
                <div class="timeline-step-h">
                    <div class="step-marker-h">2</div>
                    <h3>Surgery Day</h3>
                    <p>The procedure is performed under local or spinal anesthesia. Using Laser or Conventional methods, the swollen veins are carefully removed or sealed to stop bleeding and pain. The surgery usually takes <span class="bold">30–60 minutes</span>.</p>
                </div>
        
                <div class="timeline-step-h">
                    <div class="step-marker-h">3</div>
                    <h3>Post-Surgery Stay</h3>
                    <p>Most patients stay in the hospital for <span class="bold">1 day</span>. Our team provides dietary guidance, pain management and hygiene tips to ensure a smooth and comfortable recovery.</p>
                </div>
        
                <div class="timeline-step-h">
                    <div class="step-marker-h">4</div>
                    <h3>Recovery & Follow-Up</h3>
                    <p>You can resume normal activities within <span class="bold">3–5 days</span>, depending on the surgery type. Follow-up visits help track healing, manage any discomfort and ensure long-term relief from piles.</p>
                </div>
            </div>
        </div>
        


<!-- 
        <div class="hernia-section-a">
            <div class="header-container">
                <h2>Why Choose Vasavi Hospitals for Appendix Surgery in Bangalore</h2>
                <p>Get expert care for appendicitis with our advanced <strong>Laparoscopic</strong> and <strong>Robotic Appendectomy</strong> options — offering precision, faster recovery, and complete patient comfort.</p>
            </div>
        
            <div class="features-grid">
                <div class="feature-card">
                    <h3>Advanced Laparoscopic & Robotic Precision</h3>
                    <p>Our skilled surgeons use <strong>keyhole (laparoscopic)</strong> and <strong>Da Vinci Xi robotic</strong> techniques to ensure safe, accurate, and minimally invasive appendix removal.</p>
                </div>
        
                <div class="feature-card">
                    <h3>Faster Recovery with Minimal Pain</h3>
                    <p>Both techniques use tiny incisions, resulting in less pain, minimal blood loss, and a quicker return to normal life.</p>
                </div>
        
                <div class="feature-card">
                    <h3>Affordable & Insurance-Friendly Care</h3>
                    <p>Enjoy transparent, <strong>all-inclusive appendix surgery packages</strong> starting from ₹1,80,000* with <strong>cashless insurance</strong> for a stress-free experience.</p>
                </div>
            </div>
        </div>
        

        <app-doctors-card [doctorDetails]="doctors" [headers]="doctorHeader" />

        <div class="container_2">
            <div class="we_cure_with_care_section">
                <h2 class="heading">We Cure With Care</h2>
                <p class="para">Digest comfortably. Move freely. Live confidently. At Vasavi Hospitals, our Robotic
                    Appendectomy ensures safer surgery, faster recovery, and lasting relief — so you can enjoy every meal
                    and moment without pain.</p>
                <div class="cta_flex">
                    <button class="cta_2" (click)="openPopup()">Book an Appointment</button>
                    <a href="tel:8884545086" class="cta_call_2">Call Now</a>
                </div>
            </div>
        </div> -->

        <div class="popup-overlay" *ngIf="isPopupOpen" (click)="closePopup()">
            <div class="popup-container" (click)="$event.stopPropagation()">
              <button class="popup-close" (click)="closePopup()">✖</button>
              <app-callback-form [pageName]="'Haemorrhoidectomy'"></app-callback-form>
            </div>
          </div>