<div class="container_1"></div>

<!-- hero section -->
<!-- <div class="hero-section">
  <div class="hero_content">
    <h1 class="s_h1"><strong>Affordable Gallbladder Surgery in Bangalore</strong></h1>
    <p class="s_para">
      Experiencing <strong>gallbladder stone pain</strong> or <strong>digestive discomfort</strong>? 
      Conditions such as <strong>Gallstones (Cholelithiasis)</strong> or 
      <strong>Gallbladder Inflammation (Cholecystitis)</strong> often require 
      <strong>Gallbladder Removal Surgery</strong> for long-term relief. 
      When lifestyle changes and medicines don’t work, a <strong>Cholecystectomy</strong> — 
      the surgical removal of the gallbladder — is the safest solution.
    </p>

    <p class="s_para">
      At <strong>Vasavi Hospitals, Bangalore</strong>, we specialize in 
      <strong>Laparoscopic Gallbladder Surgery in Bangalore</strong> and 
      <strong>Robotic Gallbladder Surgery in Bangalore</strong> using the 
      <strong>Da Vinci Xi Robotic System</strong>. 
      Our <strong>minimally invasive gallbladder surgery</strong> ensures faster recovery, 
      minimal scarring and greater comfort — making us a leading choice for 
      <strong>Affordable Gallbladder Surgery in Bangalore</strong>.
    </p>

    <div class="points">
      <div class="point">
        <div class="icon"><i class="fa-solid fa-check"></i></div>
        <div class="s_para"><strong>Minimally Invasive</strong> Techniques – Laparoscopic & Robotic options</div>
      </div>
      <div class="point">
        <div class="icon"><i class="fa-solid fa-check"></i></div>
        <div class="s_para"><strong>Faster Recovery</strong> and Shorter Hospital Stay</div>
      </div>
      <div class="point">
        <div class="icon"><i class="fa-solid fa-check"></i></div>
        <div class="s_para"><strong>Reduced Pain</strong> and Minimal Scarring</div>
      </div>
      <div class="point">
        <div class="icon"><i class="fa-solid fa-check"></i></div>
        <div class="s_para">Performed by <strong>Experienced Gallbladder Surgeons in Bangalore</strong></div>
      </div>
      <div class="point">
        <div class="icon"><i class="fa-solid fa-check"></i></div>
        <div class="s_para"><strong>Transparent, All-Inclusive Surgery Packages</strong> starting at ₹1,80,000* (T & C Apply)</div>
      </div>
    </div>

    <div class="hero-button-flex">
      <button class="book-appointment-btn" (click)="openPopup()">
        <i class="fa-solid fa-calendar-check"></i> <strong>Book an Appointment</strong>
      </button>
      <a class="call-now-btn" href="tel:8884545086">
        <i class="fa-solid fa-phone"></i> <strong>Call Now</strong>
      </a>
    </div>
  </div>

  <div class="image-column">
    <img src="img/packages/gall-bladder-removal.png" alt="Robotic Cholecystectomy at Vasavi Hospitals Bangalore" />
  </div>
</div> -->

<div class="hero-section">
  <img src="img/packages/GallBladderSurgery.png" class="desktop_banner"
    alt="Cancer patient with headscarf smiling at Vasavi Hospital oncology care">
  <img src="img/packages/Gallbladder_mobile.png" class="mobile_banner"
    alt="Comprehensive oncology care in Bangalore with advanced cancer treatments and expert oncologists">
  <button class="book-btn" (click)="openPopup()">Book an Appointment</button>
</div>

<!-- navs -->
<div class="carousel-container sticky-top">
  <div class="carousel-track" id="carouselTrack" #carouselTrack>
    <a *ngFor="let section of sections" class="section-item" [class.active]="activeSection === section.id"
      (click)="scrollToSection(section.id)">
      {{ section.name }}
    </a>

  </div>

  <button class="carousel-btn prev" id="prevBtn" #prevBtn>
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <polyline points="15,18 9,12 15,6"></polyline>
    </svg>
  </button>
  <button class="carousel-btn next" id="nextBtn" #nextBtn>
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <polyline points="9,18 15,12 9,6"></polyline>
    </svg>
  </button>
</div>


<!-- stat section -->
<section class="stats-section">
  <p class="stats-subtitle">
    Years of Expertise in Gallbladder Stone Removal Care
  </p>

  <div class="stats-container">
    <div class="stat-card">
      <div class="icon-box yellow"><i class="fa-solid fa-stethoscope"></i></div>
      <div class="stat-content">
        <h3>10,000+</h3>
        <p>Successful Surgeries Performed</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="icon-box pink"><i class="fa-solid fa-heart"></i></div>
      <div class="stat-content">
        <h3>80-97%</h3>
        <p>Success Rate</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="icon-box blue"><i class="fa-solid fa-bed"></i></div>
      <div class="stat-content">
        <h3>29+</h3>
        <p>Years Experienced Surgeons</p>
      </div>
    </div>
  </div>
</section>


<!-- about cholecystectomy -->
<!-- <div class="hernia-section-a two-column-layout">
  <div class="content-column">
    <div class="header-container">
      <h2><strong>What is a Cholecystectomy?</strong></h2>
      <p>
        A <strong>Cholecystectomy</strong> is a <strong>gallbladder removal surgery</strong> performed to treat 
        <strong>gallstones</strong> and <strong>gallbladder inflammation</strong>. 
        The <strong>gallbladder</strong> stores bile that helps in digestion. 
        When stones block the bile duct, it causes pain, nausea and indigestion. 
        <strong>Vasavi Hospitals</strong> offers both <strong>Laparoscopic</strong> and 
        <strong>Robotic Cholecystectomy in Bangalore</strong> for safe, precise and fast recovery.
      </p>
    </div>

    <div class="features-grid">
      <div class="feature-card">
        <h3><strong>Why It’s Done</strong></h3>
        <p>
          Treats <strong>gallstones</strong>, <strong>acute/chronic cholecystitis</strong> and 
          <strong>biliary colic</strong>. Minimally invasive <strong>laparoscopic gallbladder removal</strong> 
          ensures shorter hospital stays and quick return to daily life.
        </p>
        <ul class="mini-list">
          <li>Less pain & minimal scarring</li>
          <li>Faster recovery (3–5 days)</li>
          <li>Lower risk of complications</li>
        </ul>
      </div>

      <div class="feature-card">
        <h3><strong>Laparoscopic Cholecystectomy</strong></h3>
        <p>
          Also known as <strong>keyhole gallbladder surgery</strong>, it uses tiny incisions and a high-definition camera. 
          This <strong>Laparoscopic Gallbladder Surgery in Bangalore</strong> is safe, effective and widely trusted.
        </p>
        <ul class="mini-list">
          <li>Tiny incisions</li>
          <li>Day-care/short stay</li>
          <li>Quick return to normal life</li>
        </ul>
      </div>

      <div class="feature-card">
        <h3><strong>Robotic Cholecystectomy (Da Vinci Xi)</strong></h3>
        <p>
          <strong>Robotic Gallbladder Surgery</strong> offers <strong>3D HD vision</strong>, superior precision and enhanced control. 
          It’s ideal for complex cases requiring extreme accuracy and minimal tissue trauma.
        </p>
        <ul class="mini-list">
          <li>Enhanced dexterity & control</li>
          <li>Stable and tremor-free movements</li>
          <li>Best outcomes for complex cases</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cta-column"><app-callback-form [pageName]="'Cholecystectomy'"/></div>

  <div class="cta-row">
    <a href="#" class="cta-button"><strong>Check Availability & Book Now</strong></a>
  </div>
</div> -->

<!-- pain section -->
<!-- <div class="hernia-flow-section">
  <div class="section-header">
    <h1><strong>Understanding Gallbladder Pain: Types & Severity</strong></h1>
    <p>Learn about common <strong>gallbladder conditions</strong> that may require 
      <strong>Laparoscopic or Robotic Gallbladder Surgery</strong> for safe recovery.</p>
  </div>

  <div class="hernia-comparison-blocks">
    <div *ngFor="let hernia of herniaTypes" class="hernia-block" [ngClass]="hernia?.cssClass">
      <span class="type-badge">{{ hernia.badgeText }}</span>
      <h2>{{ hernia.title }}</h2>
      <p [innerHTML]="hernia.description"></p>
      <div class="tag-flex">
        <div class="tag"*ngIf="hernia.location" [innerHTML]="hernia.location"></div>
        <div class="tag" *ngIf="hernia.recoverytime" [innerHTML]="hernia.recoverytime"></div>
        <div class="tag" *ngIf="hernia.hospitalStay" [innerHTML]="hernia.hospitalStay"></div>
      </div>
    </div>
  </div>
</div> -->

<!-- What is hernia -->
<section class="what-is-hernia" id="overview">
  <div class="what_content_Section">
    <h1>Affordable Gallbladder Stone Removal Surgery in Bangalore </h1>
    <h2>What is Gallbladder Stone Removal Surgery?</h2>
    <p>Gallbladder removal, also known as <span class="bold">Cholecystectomy</span>, is a surgical procedure performed
      to remove the gallbladder when it contains stones or <span class="bold">causes pain, infection or digestive
        problems</span>. Gallstones are hardened deposits that block bile flow, leading to severe abdominal discomfort,
      nausea and inflammation.
    </p>
    <p>At Vasavi Hospitals, our experienced surgeons perform both <span class="bold">Laparoscopic</span> and <span
        class="bold">Robotic Gallbladder Removal</span> procedures for safer, quicker and more precise results. These
      advanced methods help reduce pain, minimize scars and promote faster recovery.</p>
    <p>If you experience sharp pain in the upper right abdomen, nausea after meals or indigestion, meet our specialists
      for an accurate diagnosis and timely treatment.
    </p>
  </div>
  <div class="video">
    <video autoplay loop muted playsinline>
      <source src="/img/packages/gallbladder-video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</section>

<div class="hernia-section-a" id="symptoms">

  <div class="feature-wrapper">

    <div class="features-grid-content">

      <div class="header-container">
        <h2>Know the Signs. Choose the Right Care.</h2>
        <p>Many people ignore gallbladder symptoms until the pain becomes unbearable. At Vasavi Hospitals, we help you
          detect the condition early and treat it effectively using modern surgical techniques.</p>
      </div>

      <div class="features-grid">
        <div class="feature-card">
          <h3>Common Symptoms</h3>
          <ul>
            <li class="s_para" style="margin-top: 10px;">Sudden or sharp pain in the upper right abdomen</li>
            <li class="s_para" style="margin-top: 10px;">Nausea or vomiting after fatty meals</li>
            <li class="s_para" style="margin-top: 10px;">Indigestion or bloating</li>
            <li class="s_para" style="margin-top: 10px;">Fever or discomfort below the ribs</li>
          </ul>
        </div>
        <div class="feature-card">
          <h3>Surgery Options</h3>
          <p>At Vasavi Hospitals, gallbladder removal is performed using <span class="bold">Laparoscopic or
              Robotic-assisted techniques</span> for better precision, minimal scarring and faster recovery. Our expert
            surgeons ensure complete safety and comfort from diagnosis to recovery.</p>
        </div>
        <div class="feature-card">
          <h3>Affordable & Insurance-Covered Packages</h3>
          <p>Transparent, all-inclusive packages starting at affordable price with cashless insurance support for a
            stress-free experience.</p>
        </div>
      </div>

    </div>

    <div class="form" id="appointment">
      <app-callback-form [pageName]="'Cholecystectomy'" />
    </div>

  </div>

  <p class="note-text">
    <strong><i class="fa-solid fa-info"></i> Note:</strong> Robotic surgery refers to robotic-assisted surgery.
    It is not performed by robots. All procedures are performed by our skilled surgeons.
  </p>

  <button class="cta-button" (click)="openPopup()">Check Availability & Book Now</button>
</div>

<app-doctors-card [doctorDetails]="doctors" [headers]="doctorHeader" />


<!-- comparison -->
<div class="comparison-section" style="margin-top: 30px;" id="surgery">
  <div class="comparison-header">
    <h2>Robotic vs. Laparoscopic Surgery: What's the Difference?</h2>
    <p>While both are minimally invasive, the Da Vinci Xi Robotic System offers superior precision,
      leading to faster recovery and better patient outcomes compared to traditional laparoscopy.</p>
  </div>

  <div class="comparison-table">
    <div class="comparison-column robotic-column">
      <img src="img/packages/intuitive-davinci-xi-system-lineup-lowres.jpg" alt="Da Vinci Xi Robotic Surgery System"
        class="comparison-image">
      <h2>Robotic Surgery (Da Vinci Xi)</h2>
      <ul>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>3D HD Vision:</strong> Surgeon sees the surgical field in high-definition,
            three-dimensional view for unparalleled depth perception.</p>
        </li>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>Enhanced Dexterity:</strong> Robotic instruments have seven degrees of motion,
            mimicking the human wrist, which allows for finer and more precise suturing (stitching).
          </p>
        </li>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>Superior Precision:</strong> Filters out natural hand tremors and allows for more
            complex, delicate repairs.</p>
        </li>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>Reduced Pain & Scarring:</strong> The high precision results in less trauma to
            surrounding tissue.</p>
        </li>
      </ul>
    </div>

    <div class="comparison-column robotic-column">
      <img src="img/packages/laproscopic.jpg" alt="Laparoscopic Hysterectomy Surgery" class="comparison-image">
      <h2>Laparoscopic Surgery</h2>
      <ul>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>2D Vision:</strong> Surgeons view a flat, two-dimensional image, which can limit
            depth perception.</p>
        </li>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>Limited Movement:</strong> Instruments have restricted movement (4 degrees of
            motion), making complex suturing more challenging.</p>
        </li>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>Good Precision:</strong> Excellent compared to open surgery, but lacks the
            micro-movements of a robotic system.</p>
        </li>
        <li class="plus">
          <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
          <p><strong>Minimal Scarring:</strong> Also offers small incisions, but robotic methods often
            allow for even smaller, strategically placed cuts.</p>
        </li>
      </ul>
    </div>
  </div>

  <a (click)="openPopup()" class="cta-button-comparison">Speak with our specialists today</a>
</div>

<!-- timeline -->
<div class="surgery-timeline-h" id="procedures">
  <div class="timeline-header-h">
    <h2><strong>What to Expect During Gallbladder Stone Removal Surgery</strong></h2>
    <p>Your Step-by-Step Care Journey
    </p>
  </div>

  <div class="timeline-container-h">
    <div class="timeline-step-h">
      <div class="step-marker-h">1</div>
      <h3>Consultation & Evaluation</h3>
      <p>Our surgical team will assess your symptoms, perform scans like ultrasound or CT and confirm the presence of
        gallstones. We explain the procedure, expected recovery and cost clearly before surgery.</p>
    </div>

    <div class="timeline-step-h">
      <div class="step-marker-h">2</div>
      <h3>Surgery Day</h3>
      <p>The procedure is done under general anesthesia using <span class="bold">Laparoscopic or Robotic-assisted
          methods</span>. Small incisions are made to remove the gallbladder safely. The surgery usually takes about 1
        hour, ensuring minimal blood loss and quicker healing.</p>
    </div>

    <div class="timeline-step-h">
      <div class="step-marker-h">3</div>
      <h3>Post-Surgery Stay</h3>
      <p>You’ll stay in the hospital for <span class="bold">1–2 days</span> under observation. Our team monitors your
        recovery and provides diet guidance and care instructions to avoid post-surgery discomfort.
      </p>
    </div>

    <div class="timeline-step-h">
      <div class="step-marker-h">4</div>
      <h3>Recovery & Follow-Up</h3>
      <p>Most patients resume normal activities within <span class="bold">5–7 days</span>. Follow-up visits ensure
        proper healing, dietary balance and digestive comfort after surgery..</p>
    </div>
  </div>
</div>

<!-- care section
<div class="container_2">
  <div class="we_cure_with_care_section">
    <h2 class="heading"><strong>We Cure With Care</strong></h2>
    <p class="para">
      Live pain-free and eat comfortably again. At <strong>Vasavi Hospitals, Bangalore</strong>,
      our <strong>Robotic and Laparoscopic Gallbladder Surgery</strong> provides safer outcomes,
      <strong>faster healing</strong> and long-term relief from <strong>gallbladder stones</strong>.
      Choose the <strong>best gallbladder surgery hospital in Bangalore</strong> for trusted care.
    </p>
    <div class="cta_flex">
      <button class="cta_2" (click)="openPopup()"><strong>Book an Appointment</strong></button>
      <a href="tel:8884545086" class="cta_call_2"><strong>Call Now</strong></a>
    </div>
  </div>
</div> -->
<div class="popup-overlay" *ngIf="isPopupOpen">
  <div class="popup-container" (click)="$event.stopPropagation()">
    <button class="popup-close" (click)="closePopup()">✖</button>
    <app-callback-form [pageName]="'Appendectomy'"></app-callback-form>
  </div>
</div>