<div class="all-doctors">
    <app-animation>
        <div class="animation">
            <div class="header">
                <div class="heading">Our Specialized Doctors</div>
                <div class="para">Our experienced doctors in Bangalore provide comprehensive, ethical, and advanced
                    medical care. Backed by modern technology and years of hands-on experience, our specialists focus on
                    better outcomes and personalized treatment for every patient.</div>
            </div>
        </div>
    </app-animation>

    <!-- Filters -->
    <div class="mobile-dept-nav">
        <button class="dept-toggle" (click)="toggleDept()">
            <span>
                {{ selectedDepartment || 'All Department' }}
            </span>

            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none">
                <line x1="1.5" y1="1.5" x2="20.5" y2="1.5" stroke="white" stroke-width="3" stroke-linecap="round" />
                <line x1="1.5" y1="8.5" x2="20.5" y2="8.5" stroke="white" stroke-width="3" stroke-linecap="round" />
                <line x1="1.5" y1="15.5" x2="20.5" y2="15.5" stroke="white" stroke-width="3" stroke-linecap="round" />
            </svg>

        </button>
    </div>


    <div class="dept-drawer" [class.open]="deptOpen">

        <div class="drawer-header">
            <span class="drawer-title">Departments</span>

            <button class="drawer-close" (click)="toggleDept()">
                ✕
            </button>
        </div>

        <button class="dept-item" [class.active]="selectedDepartment === ''" (click)="selectDept('')">
            All Department
        </button>

        <button class="dept-item" *ngFor="let dept of departments" [class.active]="selectedDepartment === dept.name"
            (click)="selectDept(dept.name)">
            {{ dept.name }}
        </button>
    </div>

    <div class="drawer-overlay" *ngIf="deptOpen" (click)="toggleDept()">
    </div>

    <div class="filter-container">
        <div class="filter-wrapper">
            <button class="nav-arrow" (click)="scrollLeft()">
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none">
                    <path d="M15 6L9 12L15 18" stroke="#1B8FCD" stroke-width="2.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>

            <div class="department-scroll" #deptScroll>
                <button class="dept-pill" [class.active]="selectedDepartment === ''" (click)="selectedDepartment = ''">
                    All Department
                </button>



                <button class="dept-pill" *ngFor="let dept of departments"
                    [class.active]="selectedDepartment === dept.name" (click)="selectedDepartment = dept.name">
                    {{ dept.name }}
                </button>

            </div>

            <button class="nav-arrow" (click)="scrollRight()">
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none">
                    <path d="M9 6L15 12L9 18" stroke="#1B8FCD" stroke-width="2.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>

    </div>

    <!-- Search -->
    <div class="search-wrapper">
        <div class="search-box">
            <i class="search-icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                    fill="none">
                    <path
                        d="M17.5 17.5L12.5 12.5M2.5 8.33333C2.5 9.09938 2.65088 9.85792 2.94404 10.5657C3.23719 11.2734 3.66687 11.9164 4.20854 12.4581C4.75022 12.9998 5.39328 13.4295 6.10101 13.7226C6.80875 14.0158 7.56729 14.1667 8.33333 14.1667C9.09938 14.1667 9.85792 14.0158 10.5657 13.7226C11.2734 13.4295 11.9164 12.9998 12.4581 12.4581C12.9998 11.9164 13.4295 11.2734 13.7226 10.5657C14.0158 9.85792 14.1667 9.09938 14.1667 8.33333C14.1667 7.56729 14.0158 6.80875 13.7226 6.10101C13.4295 5.39328 12.9998 4.75022 12.4581 4.20854C11.9164 3.66687 11.2734 3.23719 10.5657 2.94404C9.85792 2.65088 9.09938 2.5 8.33333 2.5C7.56729 2.5 6.80875 2.65088 6.10101 2.94404C5.39328 3.23719 4.75022 3.66687 4.20854 4.20854C3.66687 4.75022 3.23719 5.39328 2.94404 6.10101C2.65088 6.80875 2.5 7.56729 2.5 8.33333Z"
                        stroke="#6E6E6E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg></i>
            <input type="text" placeholder="Search Your Doctor" [(ngModel)]="searchText" />
        </div>

        <button class="search-btn">Search</button>
    </div>

    <div class="doctor-list">
        <div class="doctor-card-container" *ngFor="let doctor of filterDoctors(); let i = index">

            <div class="doctor-card-flip" [class.flipped]="activeDoctorIndex === i">

                <!-- FRONT SIDE -->
                <div class="doctor-card front">

                    <!-- Image -->
                    <div class="doctor-image">
                        <div class="image-frame">
                            <img [src]="doctor.img" [alt]="doctor.alt" />
                            <div class="experience-badge">
                                {{ doctor.experience }} YEARS OF EXPERIENCE
                            </div>
                        </div>
                    </div>

                    <!-- Details -->
                    <div class="doctor-details">
                        <div class="doctor-name">{{ doctor.name }}</div>
                        <div class="qualification">{{ doctor.qualification }}</div>
                        <div class="consultant"> {{ doctor.consultant }}</div>

                        <div class="action-buttons">
                            <button class="book-btn" [routerLink]="['/doctors' + doctor.slug]">
                                View More
                            </button>
                            <button class="book-btn" (click)="goToDoctorForm(doctor.slug)">
                                Book Appointment
                            </button>

                        </div>
                    </div>

                </div>

                <!-- BACK SIDE (FORM) -->
                <!-- <div class="doctor-card back">

                    <div class="form-header">
                        <span>Book Appointment</span>
                        <button class="close-btn" (click)="closeForm()">✕</button>
                    </div>

                    <form class="appointment-form" [formGroup]="appointmentForm">

                        Name
                        <input type="text" placeholder="Full Name*" formControlName="name" />

                        Mobile
                        <input type="tel" placeholder="Mobile Number*" formControlName="mobile" maxlength="10" />

                        <input type="text" placeholder="Enter OTP*" formControlName="otp" maxlength="6" />

                        Info
                        <p class="timer" *ngIf="otpSent && timeLeft > 0">
                            OTP expires in {{ timeLeft }} seconds
                        </p>

                        <p class="error" *ngIf="otpInvalid">Invalid OTP</p>
                        <p class="error" *ngIf="otpExpired">OTP expired</p>

                        Send OTP
                        <button type="button" class="submit-btn" [disabled]="isButtonDisabled()"
                            (click)="handleAction()">
                            {{ getButtonText() }}
                        </button>


                    </form>


                </div> -->

            </div>

        </div>
        <div class="no-doctor" *ngIf="filterDoctors().length === 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M11 9h2V7h-2m1 13c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m-1 15h2v-6h-2z" />
            </svg> No doctors found
        </div>

    </div>

    <div class="Surgery-container">
        <div class="surgery-header">
            <div class="surgery-heading">
                Robotic Surgery
            </div>
            <div class="surgery-description">Redefining Modern Surgery with Da Vinci Xi - Advanced Surgeon Assisted
                Robotic Surgery.</div>
            <div class="surgery-card">
                <div class="card-heading">Da Vinci xi Robotic Surgery System</div>
                <div class="card-para">Surgeries are now safer and smoother with the Da Vinci Xi Robotic System. This
                    advanced technology helps our doctors perform operations with high accuracy and gentle care.</div>
                <div class="flex">
                    <div class="">
                        <div class="card-subheading">Minimally Invasive Solutions Across:</div>
                        <ul>
                            <li>Obstetrics & Gynaecology</li>
                            <li>Surgical Oncology</li>
                            <li>Bariatric Surgery</li>
                            <li>Urology</li>
                            <li>Nephrology</li>
                            <li>General Surgery</li>
                        </ul>
                    </div>
                    <img src="img/doctor-page/images 2.png" alt="">
                </div>
            </div>
        </div>
        <div class="robotic-part">
            <div class="robotic">
                <img src="img/doctor-page/Mako Robotic 2.png" alt="">
                <div class="robotic-heading">Mako Robotic Knee Replacement</div>
            </div>
            <div class="count-card">
                <div class="count">+150</div>
                <div class="count-para">Mako Robotic TKR Surgury</div>

            </div>
        </div>
        <div class="neuro-part">
            <div class="neuro-card">
                <div class="count">+100</div>
                <div class="count-para">Neuro Navigation System</div>

            </div>

            <div class="neuro">
                <div class="robotic-heading">Neuro Navigation System</div>
                <img src="img/doctor-page/Mako Robotic 1.png" alt="">
            </div>
        </div>
    </div>

    <div class="bottom-part">
        <div class="bottom-right">
            <div class="flex1">
                <div class="Obstetrics-card">
                    <div class="card-sub-heading">Obstetrics & Gynaecology</div>
                    <img src="img/doctor-page/maternity-poses-illustration 1.png" alt="">
                </div>
                <div class="general-surgery-card">
                    <img src="img/doctor-page/general-surgery.png" alt="">
                    <div class="card-sub-heading">General Surgery</div>
                </div>
            </div>
            <div class="advenced-card">
                <div class="">
                    <div class="advence-heading">Latest & Advanced</div>
                    <ul>
                        <li>128 Slice CT Scan</li>
                        <li>3 Tesla MRI Scan</li>
                    </ul>
                </div>
                <img src="img/doctor-page/3d-rendering-mri-scan-machine-magnetic-resonance-imaging-scan-device 1.png"
                    alt="" class="ct-img">
            </div>
        </div>
        <div class="bottom-left">
            <div class="left-card-heading">Bengaluru's Trusted Hospital Now More Advanced Than Ever!</div>
            <div class="">
                <div class="left-card-sub-heading">24/7 Services:</div>
                <ul>
                    <li>State-of-the-Art Cath Lab</li>
                    <li>Laboratory</li>
                    <li>In-House Pharmacy</li>
                    <li>Radiology: MRI, CT, USG, X-Ray</li>
                </ul>
            </div>

            <div class="img">
                <img src="img/doctor-page/stopwatch-with-24h-text 1.png" alt="">
            </div>
        </div>
    </div>


</div>