<!-- banner -->
<div class="banner-part">
    <div class="banner-bg">
        <div class="gray">
            <div class="blue"></div>
        </div>

        <div class="gray-1">
            <div class="blue-1"></div>
        </div>
    </div>
</div>

<div class="health-packages">
    <div class="banner">
        <div class="banner-content">
            <!-- <div class="banner-sub-heading">Annual Master Diabetes Care</div> -->
            <div class="banner-headeing">Diabetes Health Check</div>
            <div class="flex1">
                <div class="banner-package-price">
                    <div class="price">
                        <div class="package-heading">Package Price</div>
                        <div class="amount">₹4000 <span>onwards</span></div>
                        <div class="cote">All-in-One Diabetes Care.</div>
                    </div>
                </div>
                <div class="banner-para">Track your blood sugar, heart, kidney, liver and overall health through a
                    single,

                    diabetes package - designed to prevent complications and support long-term wellbeing.</div>
                <div class="flex">
                    <div class="banner-card">
                        <div class="title">39 tests</div>
                        <div class="para1">Complete diabetic evaluation</div>
                    </div>
                    <div class="banner-card">
                        <div class="title">Type 1 & Type 2</div>
                        <div class="para1">Suitable for all diabetics</div>
                    </div>
                    <div class="banner-card">
                        <div class="title">Complete Screening</div>
                        <div class="para1">Covers all major diabetes markers.</div>
                    </div>
                </div>
                <!-- <button>Download Package Details</button> -->
            </div>
        </div>

        <div class="form" id="appointmentFormSection">
            <div class="form-heading">Book Your Appointment</div>

            <form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()" class="form-content">


                <div class="flex2">
                    <label>Select Date</label>
                    <input type="date" formControlName="date">
                    <small class="error"
                        *ngIf="appointmentForm.get('date')?.touched && appointmentForm.get('date')?.invalid">
                        Date is required
                    </small>
                </div>

                <div class="flex2">
                    <label>Full Name:</label>
                    <input type="text" formControlName="name">
                    <small class="error"
                        *ngIf="appointmentForm.get('name')?.touched && appointmentForm.get('name')?.invalid">
                        Name is required
                    </small>
                </div>

                <div class="flex2">
                    <label>Mobile Number:</label>
                    <div class="otp">
                        <input type="number" formControlName="mobile">
                        <button type="button" (click)="sendOtp()" [disabled]="!canSendOtp">Send OTP</button>
                    </div>
                    <small class="error"
                        *ngIf="appointmentForm.get('mobile')?.touched && appointmentForm.get('mobile')?.invalid">
                        Enter a valid 10-digit mobile number
                    </small>
                </div>

                <!-- OTP Input -->
                <div class="flex2" *ngIf="otpSent">
                    <label>Enter OTP:</label>
                    <input type="number" formControlName="otp" (input)="verifyOtp()">

                    <small class="error" *ngIf="otpInvalid">Incorrect OTP</small>
                    <small class="error" *ngIf="otpExpired">OTP expired. Please resend.</small>

                    <div class="otp-timer">
                        <span *ngIf="timeLeft > 0">Resend OTP in {{ timeLeft }}s</span>
                        <button type="button" *ngIf="timeLeft === 0" (click)="resendOtp()">Resend OTP</button>
                    </div>
                </div>

                <!-- Book Button -->
                <button class="btn" type="submit" [disabled]="!otpVerified || appointmentForm.invalid">
                    Book Appointment
                </button>


            </form>

        </div>

    </div>
    <div class="health-package">

        <!-- About -->
        <div class="about">
            <div class="">
                <div class="about-heading">Diabetes affects more than just your sugar.</div>
                <div class="about-para">
                    <div>It can silently damage your <span>kidneys, eyes, nerves, heart, joints, and
                            immunity</span> without
                        showing symptoms</div><br>
                    <div>
                        That’s why your check-up must be <span>full-body</span>, not just a sugar test. Our
                        Master
                        Diabetes Care
                        Package
                        covers <span>everything diabetes touches</span> - helping you catch problems early and stay in
                        control.
                    </div>
                </div>
            </div>
            <div class="">
                <!-- <div class="box"></div> -->
                 <img src="img/health-package/diabetes.jpg" alt="" class="box"> 
            </div>
        </div>

        <!-- Packages -->
        <div class="packages">
            <div class="package-header">
                <div class="heading">What’s included in the package?</div>
                <div class="para">Structured into investigations, imaging, cardiac care and specialist consultations.
                </div>
            </div>

            <div class="package-cards">
                <div class="card" *ngFor="let item of includes">

                    <div class="card-header">{{ item.title }}</div>

                    <ul class="card-list">
                        <li *ngFor="let point of item.content">
                            {{ point }}
                        </li>
                    </ul>

                </div>
            </div>

        </div>

        <!-- why choose -->
        <div class="why-choose">
            <div class="package-header">
                <div class="heading">Why choose this diabetes package?</div>
                <div class="para">Specially curated for long-term diabetes management, complication prevention and
                    holistic
                    lifestyle support.</div>
            </div>
            <div class="choose-wrapper">
                <div class="choose-cards" *ngFor="let item of whyChoose">
                    <i [class]="item.icon" class="card-icon"></i>
                    <div class="content">{{ item.content }}</div>
                </div>
            </div>
        </div>

        <!-- Doctors-card -->
        <div class="doctors">
            <app-doctors-slide [doctorSlide]="doctorSlide"></app-doctors-slide>
        </div>

        <!-- care with us -->
        <div class="care-with-us">
            <div class="package-header">
                <div class="heading">Your Care Journey With Us</div>
                <div class="para">Specially curated for long-term diabetes management, complication prevention and
                    holistic
                    lifestyle support.</div>
            </div>
            <div class="choose-wrapper">
                <div class="care-cards" *ngFor="let item of careWith">
                    <img [src]="item.img" />
                    <div class="care-content">{{item.content}}</div>
                </div>
            </div>
        </div>

        <!-- book appointment -->
        <div class="book-appointment">
            <div class="">
                <div class="heading">Ready to take charge of your diabetes?</div>
                <div class="para">Book your Master Diabetes Care package and start your journey towards better
                    sugar
                    control and a
                    healthier life.</div>
            </div>

            <button (click)="scrollToForm()">Book Appointment</button>
        </div>



        <!-- Faqs -->
        <div class="accordion-wrapper">
            <div class="header">FAQs</div>

            <div class="accordion-item" *ngFor="let item of faqs; let i = index">

                <div class="accordion-header" (click)="toggle(i)">
                    <span class="arrow" [class.open]="openedIndex === i"><svg xmlns="http://www.w3.org/2000/svg"
                            width="12" height="16" viewBox="0 0 12 16" fill="none">
                            <path d="M7.3 8L0 2.3L1.8 0L12 8L1.8 16L0 13.7L7.3 8Z" fill="black" />
                        </svg></span>
                    <div class="faq-heading">{{ item.title }}</div>

                </div>

                <div class="accordion-body" [class.open]="openedIndex === i">
                    <div class="accordion-content">
                        {{ item.content }}
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>