.banner{
    background-image: url('/img/health-check-package/health-check-package-banner.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1{
    color: #FFF;
    font-family: "Pragati Narrow";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
     background-color: rgba(0, 51, 77, 0.8);
    padding: 15px 20px;
    display: inline-block;
    max-width: fit-content;
    border-radius: 10px;
}

.banner p{
    max-width: 730px;
    color: white;
    margin-top: 30px;
     background-color: rgba(0, 51, 77, 0.8);
    padding: 20px;
    line-height: 1.6;
    border-radius: 10px;
}

.banner-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
}

.banner-button svg{
    position: relative;
    margin-top: -5px;
}

.banner .banner-button-text{
    color: #FFF;
    font-family: "Pragati Narrow";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    border-radius: 20px;
    background: #1B8FCD;
    width: 313px;
    height: 64px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section-heading-section {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 5%;
  width: 100%;
}

.card-section-heading {
  color: #000;
  font-family: "Pragati Narrow";
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  white-space: nowrap;   
  flex-shrink: 0;        
}

.heading-line {
  flex: 1;               
  height: 2px;
  background-color: #000;
}

.cards-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    max-width: 406px;
    gap: 10px;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 30px;
}

.price-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-heading {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    max-width: 324px;
}

.price {
    color: #303394;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price-section img {
    width: 64px;
    height: 64px;
}

.card-list {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.card_image {
    position: relative;
}

.card_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.card_image button {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 40px;
    background: #18A0FB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none
}

@media (max-width : 500px){
    .price-section img{
        width: 50px;
        height: auto;
    }

    .price{
        font-size: 24px;
    }

    .card-heading{
        font-size: 20px;
    }

    .card-list{
        font-size: 12px;
    }

    .card{
        padding: 2%;
    }

    .cards-wrapper{
        padding: 7%;
    }
}