


.page-header {
    width: 100%;
    height: 620px;
    background: #B5DCE1;
    display: flex;
    align-items: center;
}

.banner-heading {
    color: #091D3E;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.banner-para {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px
}

.package-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
}

.card {
    width: 450px;
    height: auto;
    border-radius: 14px;
    background: linear-gradient(94deg, #3B41AF 0%, #1B8FCD 100%), #FFF;
    box-shadow: 3px 4px 12px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: none;
}

.card-heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 252px; */
}

.card-1 .card-heading {
    width: 252px;
}

.card-2 .card-heading {
    width: 317px;
}

.card-3 .card-heading {
    width: 272px;
}

.card-4 .card-heading {
    width: 267px;
}

.card-5 .card-heading {
    width: 317px;
}

.card-6 .card-heading {
    width: 331px;
}

.card-7 .card-heading {
    width: 380px;
}

.card-8 .card-heading {
    width: 370px;
}


.img-1 {
    position: relative;
    top: 30px;
    width: 180px;
    height: 201px;
    aspect-ratio: 60/67;
}

.img-2 {
    position: relative;
    top: 32px;
    right: 100px;
    width: 218px;
    height: 201px;
    aspect-ratio: 218/201;
}

.img-3 {
    position: relative;
    top: 30px;
    right: 30px;
    width: 180px;
    height: 201px;
    aspect-ratio: 60/67;
}

.img-4 {
    position: relative;
    top: 30px;
    width: 180px;
    height: 201px;
    aspect-ratio: 60/67;
}

.img-5 {
    position: relative;
    top: 32px;
    right: 70px;
    width: 218px;
    height: 201px;
    aspect-ratio: 218/201;
}

.img-6 {
    position: relative;
    top: 32px;
    right: 90px;
    width: 180px;
    height: 201px;
    aspect-ratio: 60/67;
}

.img-7 {
    position: relative;
    top: 80px;
    right: 150px;
    width: 190px;
    height: 174px;
    aspect-ratio: 95/87;
}

.img-8 {
    position: relative;
    top: 47px;
    right: 130px;
    width: 218px;
    height: 191px;
    aspect-ratio: 218/191;

}



.card-price {
    color: #FBCA51;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card button {
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #FFF;
    color: #59BF80;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 150px;
}



.card-content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 40px;
}

@media(max-width:1023px){
    .page-header{
        flex-direction: column-reverse;
        align-items: start;
        height: auto;
        padding: 20px 20px 20px 0;
    }

    .banner-img{
        width: 80%;
        height: auto;
    }

    .content{
        padding: 20px 40px;
    }
}

@media(max-width:767px){

    .card{
        display: flex;
        flex-direction: column;
        align-items:center;
        /* justify-content: center; */
        gap: 20px;
    }

    .card img{
        position: static;
    }


    .card-heading{
        width: 100%;
    }

    .card-content{
        align-items: center;
    }

    .banner-img{
        display: none;
    }

    .banner-heading{
        font-size: 30px;
        line-height: 40px;
    }

    .banner-para{
        font-size: 18px;
    }

    .page-header{
        text-align: left;
        height: auto;
        padding: 20px;
        justify-content: center;
    }

    .card-1 .card-heading,
    .card-2 .card-heading,
    .card-3 .card-heading,
    .card-4 .card-heading,
    .card-5 .card-heading,
    .card-6 .card-heading,
    .card-7 .card-heading,
    .card-8 .card-heading {
        width: 100%;
        font-size: 20px;
    }

    .content{
        padding: 0;
    }
}