<div class="page-header">
    <div class="container container-banner">
        <div class="row d-flex justify-content-center centered-element-banner">
            <div class="col-12">
                <h1 class="display-4 text-center text-white " data-aos="slide-down">Health Packages</h1>
                <nav aria-label="breadcrumb " data-aos="slide-down">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item text-white"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Health Packages</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="container">
        <div class="table-wrapper">
            <table>
                <thead class="">
                    <tr>
                        <th>
                            <div>
                                Select your plan
                                <div class="svg-wrapper">
                                    <svg viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 17v-4h-8v-2h8v-4l6 5-6 5z" />
                                    </svg>
                                </div>
                            </div>
                        </th>

                        <th>
                            <div class="heading">Basic Health Check Package <p class="pb-2"></p>
                            </div>
                            <div class="info">
                                <div class="amount">Rs.1200/-</div>
                                <a href="" data-bs-toggle="modal" data-bs-target="#enquire"> <button
                                        type="button">Enquire Now</button></a>

                            </div>
                        </th>

                        <th>
                            <div class="heading">Vasavi Well Women Health Check up </div>
                            <div class="info">
                                <div class="amount">Rs. 1499/-</div>
                                <a href="" data-bs-toggle="modal" data-bs-target="#enquire"> <button
                                        type="button">Enquire Now</button></a>

                            </div>
                        </th>

                        <th>
                            <div class="heading">Basic Cardiac Health Check Package </div>
                            <div class="info">
                                <div class="amount"> Rs.2000/-</div>
                                <a href="" data-bs-toggle="modal" data-bs-target="#enquire"> <button
                                        type="button">Enquire Now</button></a>

                            </div>
                        </th>

                        <th>
                            <div class="heading">Vasavi Diabetic Health Check <p class="pb-2"></p>
                            </div>
                            <div class="info">
                                <div class="amount">Rs.3000/-</div>
                                <a href="" data-bs-toggle="modal" data-bs-target="#enquire"> <button
                                        type="button">Enquire Now</button></a>

                            </div>
                        </th>

                        <th>
                            <div class="heading">Vasavi Master Health Check - Men </div>
                            <div class="info">
                                <div class="amount">Rs. 3500/-</div>
                                <a href="" data-bs-toggle="modal" data-bs-target="#enquire"> <button
                                        type="button">Enquire Now</button></a>

                            </div>
                        </th>

                        <th>
                            <div class="heading">Vasavi Master Health Check - women </div>
                            <div class="info">
                                <div class="amount">Rs. 4000/-</div>
                                <a href="" data-bs-toggle="modal" data-bs-target="#enquire"> <button
                                        type="button">Enquire Now</button></a>

                            </div>
                        </th>

                    </tr>
                </thead>


                <tbody>
                    <tr>
                        <td class="heading-priceing border-bottom border-light">Haematology</td>
                        <td>
                            <!-- <svg class="starter" viewBox="0 0 24 24">
								<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/>
							</svg> -->
                            <p>Complete Blood Count (CBC), ESR</p>
                        </td>

                        <td>
                            <p>Complete Blood Count (CBC) , ESR</p>
                        </td>

                        <td>
                            <p>Complete Blood Count (CBC), ESR</p>
                        </td>

                        <td>
                            <p>Complete Blood Count (CBC) , Peripheral Smear, ESR</p>
                        </td>

                        <td>
                            <p>Complete Blood Count (CBC) , Peripheral Smear, ESR</p>
                        </td>

                        <td>
                            <p>Complete Blood Count (CBC) , Peripheral Smear, ESR</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="heading-priceing">Biochemical Parameters</td>
                        <td>
                            <!-- <svg class="starter" viewBox="0 0 24 24">
								<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/>
							</svg> -->
                            <p>Fasting Blood Sugar & Post Prandial , Creatinine</p>
                        </td>

                        <td>
                            <p>Fasting Blood Sugar & Post Prandial</p>
                        </td>

                        <td>
                            <p>Fasting Blood Sugar & Post Prandial ,Creatinine, HbA1c</p>
                        </td>

                        <td>
                            <p>Fasting Blood Sugar & Post Prandial , Urea, Creatinine, Uric Acid, HbA1c</p>
                        </td>

                        <td>
                            <p>Fasting Blood Sugar & Post Prandial , Urea, Creatinine, Uric Acid, HbA1c, Vitamine B12,
                                Vitamine D</p>
                        </td>

                        <td>
                            <p>Fasting Blood Sugar & Post Prandial , Urea, Creatinine, Uric Acid, HbA1c, Vitamine B12,
                                Vitamine D</p>
                        </td>

                    </tr>

                    <tr>
                        <td class="heading-priceing">Lipid Profile Test</td>
                        <td>
                            <!-- <svg class="starter" viewBox="0 0 24 24">
								<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/>
							</svg> -->
                            <p>Total Cholesterol, HDL Cholesterol, LDL Cholesterol, Triglycerides, Total Cholesterol /
                                HDL Ratio</p>
                        </td>

                        <td>
                            <p>-</p>
                        </td>

                        <td>
                            <p>Total Cholesterol, HDL Cholesterol, LDL Cholesterol, Triglycerides, Total Cholesterol /
                                HDL Ratio</p>
                        </td>

                        <td>
                            <p>Total Cholesterol, HDL Cholesterol, LDL Cholesterol, Triglycerides, Total Cholesterol /
                                HDL Ratio</p>
                        </td>

                        <td>
                            <p>Total Cholesterol, HDL Cholesterol, LDL Cholesterol, Triglycerides, Total Cholesterol /
                                HDL Ratio</p>
                        </td>

                        <td>
                            <p>Total Cholesterol, HDL Cholesterol, LDL Cholesterol, Triglycerides, Total Cholesterol /
                                HDL Ratio</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="heading-priceing">Liver Function Test</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <p>Total Bilirubin, Direct Bilirubin, Indirect Bilirubin, SGPT, SGOT, Alkaline Phosphatase,
                                Total Protein, Albumin, Globulin, A / G Ratio</p>
                        </td>
                        <td>
                            <!-- <svg class="starter" viewBox="0 0 24 24">
								<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/>
							</svg> -->
                            <p>Total Bilirubin, Direct Bilirubin, Indirect Bilirubin, SGPT, SGOT, Alkaline Phosphatase,
                                Total Protein, Albumin, Globulin, A / G Ratio</p>
                        </td>

                        <td>
                            <p>Total Bilirubin, Direct Bilirubin, Indirect Bilirubin, SGPT, SGOT, Alkaline Phosphatase,
                                Total Protein, Albumin, Globulin, A / G Ratio</p>
                        </td>

                        <td>
                            <p>Total Bilirubin, Direct Bilirubin, Indirect Bilirubin, SGPT, SGOT, Alkaline Phosphatase,
                                Total Protein, Albumin, Globulin, A / G Ratio</p>
                        </td>
                    </tr>


                    <tr>
                        <td class="heading-priceing">Other Tests</td>
                        <td>
                            <!-- <svg class="starter" viewBox="0 0 24 24">
								<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/>
							</svg> -->
                            <p>Blood Grouping – Rh Typing, Urine Analysis, Stool – occult blood </p>
                        </td>
                        <td>
                            <p>-</p>
                        </td>

                        <td>
                            <p>Blood Grouping – Rh Typing, Urine Analysis, Stool – occult blood </p>
                        </td>

                        <td>
                            <p>Blood Grouping – Rh Typing, Complete Urine Analysis, Urine for Micro-albumin, Stool
                                Examination, GGTP</p>
                        </td>


                        <td>
                            <p>Blood Grouping – Rh Typing, Complete Urine Analysis, TSH, GGTP</p>
                        </td>

                        <td>
                            <p>Blood Grouping – Rh Typing, Complete Urine Analysis, Pap Smear & Breast Examination for
                                women, TSH, GGTP</p>
                        </td>




                    </tr>

                    <tr>
                        <td class="heading-priceing">Cardiology</td>
                        <td>
                            <p>ECG (Resting)</p>
                        </td>
                        <td>
                            <p>-</p>
                        </td>
                        <td>
                            <p>ECG (Resting), 2D ECHO CARDIOGRAPHY, TMT </p>
                        </td>
                        <td>
                            <p>ECG (Resting)</p>
                        </td>

                        <td>
                            <p>ECG (Resting)</p>
                        </td>

                        <td>
                            <p>ECG (Resting)</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="heading-priceing">Radiology</td>
                        <td>
                            <p>Chest X-Ray , Ultrasound – Abdomen</p>
                        </td>

                        <td>
                            <p>Mamography both x- Ray, Ultrasound – Abdomen</p>
                        </td>

                        <td>
                            <p>-</p>
                        </td>

                        <td>
                            <p>Chest X-Ray, Ultrasound – Abdomen, Foot Scan</p>
                        </td>

                        <td>
                            <p>Chest X-Ray, Ultrasound – Abdomen, 2D ECHO CARDIOGRAPHY, TMT </p>
                        </td>

                        <td>
                            <p>Chest X-Ray, Ultrasound – Abdomen, 2D ECHO CARDIOGRAPHY, TMT </p>
                        </td>

                    </tr>

                    <tr>
                        <td class="heading-priceing">Special Tests </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <p>Pulmonary Function Test</p>
                        </td>
                        <td>
                            <p>Pulmonary Function Test</p>
                        </td>

                    </tr>

                    <tr>
                        <td class="heading-priceing">Consultations </td>
                        <td>
                            <p>
                                Internal Medicine Consultation, Dental Consultation
                            </p>
                        </td>
                        <td>
                            <p>
                                Gyneac Consultation, Dental Consultation
                            </p>
                        </td>
                        <td>
                            <p>
                                Cardiologist Consultation, Dental Consultation, Ophthalmologist Consultation
                            </p>
                        </td>
                        <td>
                            <p>Internal Medicine Consultation, Surgical Consultation, Ophthalmologist Consultation,
                                Dental Consultation, Ophthalmologist Consultation, One additional Consultation of
                                customer's choice (within 2 days)</p>
                        </td>
                        <td>
                            <p>Internal Medicine Consultation, Surgical Consultation, Ophthalmologist Consultation, One
                                additional Consultation of customer's choice (within 2 days)</p>
                        </td>
                        <td>
                            <p>Internal Medicine Consultation, Gynecology Consultation, Ophthalmologist Consultation,
                                Dental Consultation, One additional Consultation of customer's choice (within 2 days)
                            </p>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</section>


<div class="modal fade" id="enquire" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Header -->
        <div class="modal-header bg-white">
          <h4 class="modal-title text-dark" id="exampleModalLabel">Patient Details</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <!-- Body -->
        <div class="modal-body">
          <div class="contact-form contact-forms">
            <div class="container">
                <form *ngIf="appointmentForm" [formGroup]="appointmentForm" (ngSubmit)="submitForm()" novalidate>
                <div class="row g-3 d-flex justify-content-center">
  
                  <!-- Plan Name -->
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-3 d-flex align-items-center">
                        <label>Plan Name</label>
                      </div>
                      <div class="col-12 col-md-9 d-flex align-items-center">
                        <div class="w-100 d-flex flex-column align-items-start">
                            <input formControlName="plan" type="text"
                            class="form-control bg-white border rounded"
                            placeholder="Enter the Package Name" style="height:55px">
                     <div class="text-danger small ms-2" *ngIf="submitted && f['plan'].errors">
                       <small *ngIf="f['plan'].errors['required']">Plan name is required</small>
                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- First Name -->
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-3 d-flex align-items-center">
                        <label>First Name</label>
                      </div>
                      <div class="col-12 col-md-9 d-flex align-items-center">
                        <div class="w-100 d-flex flex-column align-items-start">
                            <input formControlName="name" type="text"
                            class="form-control bg-white border rounded"
                            placeholder="Enter Your Name" style="height:55px">
                     <div class="text-danger small ms-2" *ngIf="submitted && f['name'].errors">
                       <small *ngIf="f['name'].errors['required']">Name is required</small>
                       <small *ngIf="f['name'].errors['pattern']">Only letters and spaces allowed</small>
                       <small *ngIf="f['name'].errors['minlength']">At least 2 characters</small>
                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Contact Number -->
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-3 d-flex align-items-center">
                        <label>Contact Number</label>
                      </div>
                      <div class="col-12 col-md-9 d-flex align-items-center">
                        <div class="w-100 d-flex flex-column align-items-start">
                            <input formControlName="phone" type="text"
                            class="form-control bg-white border rounded"
                            placeholder="Enter Contact Number" style="height:55px">
                     <div class="text-danger small ms-2" *ngIf="submitted && f['phone'].errors">
                       <small *ngIf="f['phone'].errors['required']">Contact number is required</small>
                       <small *ngIf="f['phone'].errors['pattern']">Enter valid 10-digit number</small>
                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Email Id -->
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-3 d-flex align-items-center">
                        <label>Email Id</label>
                      </div>
                      <div class="col-12 col-md-9 d-flex align-items-center">
                        <div class="w-100 d-flex flex-column align-items-start">
                            <input formControlName="email" type="email"
                            class="form-control bg-white border rounded"
                            placeholder="Enter Email Id" style="height:55px">
                     <div class="text-danger small ms-2" *ngIf="submitted && f['email'].errors">
                       <small *ngIf="f['email'].errors['required']">Email is required</small>
                       <small *ngIf="f['email'].errors['email']">Invalid email format</small>
                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Preferred Date -->
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-3 d-flex align-items-center">
                        <label>Preferred Date</label>
                      </div>
                      <div class="col-12 col-md-9 d-flex align-items-center">
                        <div class="w-100 d-flex flex-column align-items-start">
                            <input formControlName="date" type="date"
                            class="form-control bg-white border rounded"
                            style="height:55px">
                     <div class="text-danger small ms-2" *ngIf="submitted && f['date'].errors">
                       <small *ngIf="f['date'].errors['required']">Date is required</small>
                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Description -->
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-3 d-flex align-items-center">
                        <label>Description</label>
                      </div>
                      <div class="col-12 col-md-9 d-flex align-items-center">
                        <div class="w-100 d-flex flex-column align-items-start">
                            <input formControlName="message" type="text"
                            class="form-control bg-white border rounded"
                            placeholder="Leave Your Message Here" style="height:55px">
                     <div class="text-danger small ms-2" *ngIf="submitted && f['message'].errors">
                       <small *ngIf="f['message'].errors['required']">Message is required</small>
                       <small *ngIf="f['message'].errors['minlength']">Minimum 10 characters required</small>
                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Submit Button -->
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-primary w-100 py-3" [disabled]="isLoading">
                      <span *ngIf="!isLoading">Submit</span>
                      <span *ngIf="isLoading"><i class="bx bx-loader bx-spin"></i> Submitting...</span>
                    </button>
                  </div>
  
                  <!-- Success/Error Messages -->
                  <div class="col-12 text-center mt-2">
                    <p class="text-success fw-semibold" *ngIf="successMsg">{{ successMsg }}</p>
                    <p class="text-danger fw-semibold" *ngIf="errorMsg">{{ errorMsg }}</p>
                  </div>
  
                </div>
              </form>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  