<div class="root-container">

    <!-- hero section -->
    <div class="banner">
        <h1>Affordable Health Check Packages in Bangalore</h1>
        <p class="card-list">Choosing the best health check packages in Bangalore helps detect health issues early. Our
            affordable health check packages include heart, diabetes, thyroid, liver, kidney tests, and routine blood
            screenings. Suitable for all age groups, these preventive health check-ups ensure accurate diagnosis and
            long-term wellness.</p>
        <div>
            <button class="banner-button" (click)="scrollToNextSection()">
                <div class="banner-button-text">Select Your Package</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="43" height="33" viewBox="0 0 43 33" fill="none">
                    <path
                        d="M16.8432 31.2592L0.448555 4.57025C-0.779326 2.57138 0.658894 0 3.00478 0H39.6068C42.0852 0 43.4946 2.83495 41.9986 4.81091L21.7912 31.4999C20.5167 33.1832 17.9483 33.0583 16.8432 31.2592Z"
                        fill="#1B8FCD" />
                </svg>
            </button>
        </div>

    </div>

    <!-- health check cards -->
    <div class="card-section" >

        <div class="card-section-heading-section">
            <h2 class="card-section-heading">Health Packages</h2>
            <div class="heading-line"></div>
        </div>

        <div class="cards-wrapper" #nextSection>

            <div class="card" *ngFor="let package of packages">

                <!-- Price section -->
                <div class="price-section">
                    <img [src]="package.icon" [alt]="package.package_name">
                    <div class="price">{{ package.price }}</div>
                </div>

                <!-- Package name -->
                <div class="card-heading">
                    {{ package.package_name }}
                </div>

                <!-- Feature list -->
                <ul>
                    <li class="card-list" *ngFor="let item of package.list">
                        {{ item }}
                    </li>
                </ul>

                <!-- Image + CTA -->
                <div class="card_image">
                    <img [src]="'/img/health-check-package/' + package.image" [alt]="package.package_name">
                    <button [routerLink]="package.slug">Enquire Now</button>
                </div>

            </div>

        </div>

    </div>

</div>