.page-header {
    background: linear-gradient(rgba(59, 60, 66, 0.749), rgba(69, 70, 75, 0.8)), url('/img/Home/opd.jpg') center center no-repeat;
    background-size: cover;
    height: 50vh;
}

.page-header .container-banner {
    position: relative;
    height: 50vh;
}

.page-header .centered-element-banner {
    margin: 0;
    position: inherit;
    top: 50%;
    transform: translateY(-50%);
    text-align: center !important;
}


.page-header .breadcrumb-item a,
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item a:hover,
.page-header .breadcrumb-item.active {
    color: var(--light);
}

a {
    text-decoration: none;
}

  .heading-priceing{
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary);
  }

  
  h1 {
    font-size: 2.5rem;
  }

section {
    padding: 20px 0;
    overflow: hidden;
}

.table-wrapper {
    background: var(--white);
    overflow-x: auto;
}

table {
    position: relative;
    text-align: center;
    width: 100%;
}

table thead {
    background: var(--white);
    transition: box-shadow 0.2s;
}

table tr {
    display: flex;
}

table th,
table td {
    width: 35%;
    min-width: 150px;
}

table td p {
    font-size: 14px;
}

table th:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 0 10px;
}

table th:nth-child(1) .svg-wrapper {
    margin-top: 10px;
}

table th:nth-child(1) svg {
    width: 22px;
    height: 22px;
}

table th .heading {
    padding: 1rem;
    color: var(--white);
}

table th:nth-child(2) .heading {
    background: var(--starter);
}

table th:nth-child(3) .heading {
    background: var(--essential);
}

table th:nth-child(4) .heading {
    background: var(--professional);
}

table th:nth-child(5) .heading {
    background: var(--secondary);
}

table th:nth-child(6) .heading {
    background: var(--starter);
}

table th:nth-child(7) .heading {
    background: var(--essential);
}

table th .info {
    position: relative;
    padding: 1.5rem 0;
    border-left: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--lightgray);
}

table th .popular {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 11px;
    background: var(--popular);
    padding: 4px 8px;
    border-radius: 2px;
}

table th .amount {
    font-size: 1rem;
}

table th .amount span {
    display: block;
    transform: translateY(-8px);
}

table th:nth-child(2) .amount {
    color: var(--starter);
}

table th:nth-child(3) .amount {
    color: var(--essential);
}

table th:nth-child(4) .amount {
    color: var(--professional);
}

table th:nth-child(5) .amount {
    color: var(--secondary);
}

table th:nth-child(6) .amount {
    color: var(--starter);
}

table th:nth-child(7) .amount {
    color: var(--essential);
}


table th .billing-msg,
table th .amount span {
    font-weight: normal;
    font-size: 0.8rem;
}

table th button {
    display: inline-block;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 10px;
    transition: all 0.2s;
    background: transparent;
}

body.modal-open {
	overflow: hidden;
}

body.mobile.modal-open #wpwrap {
	overflow: hidden;
	position: fixed;
	height: 100%;
}

table th:nth-child(2) button {
    color: var(--starter);
    border: 1px solid var(--starter);
}

table th:nth-child(2) button:hover {
    background: var(--starter);
}

table th:nth-child(3) button {
    color: var(--essential);
    border: 1px solid var(--essential);
}

table th:nth-child(3) button:hover {
    background: var(--essential);
}

table th:nth-child(4) button {
    color: var(--professional);
    border: 1px solid var(--professional);
}

table th:nth-child(4) button:hover {
    background: var(--professional);
}

table th:nth-child(5) button {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

table th:nth-child(5) button:hover {
    background: var(--secondary);
}

table th:nth-child(6) button {
    color: var(--starter);
    border: 1px solid var(--starter);
}

table th:nth-child(6) button:hover {
    background: var(--starter);
}

table th:nth-child(7) button {
    color: var(--essential);
    border: 1px solid var(--essential);
}

table th:nth-child(7) button:hover {
    background: var(--essential);
}

table th button:hover {
    color: var(--white);
}

table td {
    padding: 10px;
}

table td:not(:first-child) {
    border-left: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--lightgray);
}

table tr:not(:first-child) {
    border-right: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--lightgray);
}


table td:first-child {
    font-size: 1rem;
    text-align: left;
}

table svg {
    width: 18px;
    height: 18px;
}

table svg.not-included {
    fill: var(--gray);
}

table svg.starter {
    fill: var(--starter);
}

table svg.essential {
    fill: var(--essential);
}

table svg.professional {
    fill: var(--professional);
}

.modal-content{
    /* margin-top: 15%; */
}
