<!-- Footer Start -->
<div class="container-fluid bg-dark text-light" data-aos="fade-up" data-aos-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-3 col-md-6 ">
                <div class="d-flex flex-column align-items-start justify-content-center  h-100  p-4 ">
                    <img src="img/logo/vasavi-new-white-logo.png" alt="" class="w-100">

                    <div class="d-flex mt-4">
                        <a class="btn btn-primary btn-square me-2" target="_blank" rel="canonical"
                            href="https://twitter.com/vasavihospitals"><i class="fab fa-twitter fw-normal"></i></a>
                        <a class="btn btn-primary btn-square me-2" target="_blank" rel="canonical"
                            href="https://www.facebook.com/vasavihospitals/"><i
                                class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-primary btn-square me-2" target="_blank" rel="canonical"
                            href="https://www.linkedin.com/company/33714315/"><i
                                class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-primary btn-square me-2" target="_blank" rel="canonical"
                            href="https://www.instagram.com/vasavi_hospitals/"><i
                                class="fab fa-instagram fw-normal"></i></a>
                        <a class="btn btn-primary btn-square" target="_blank" rel="canonical"
                            href="https://www.youtube.com/@vasavihospitals1006"><i
                                class="fab fa-youtube fw-normal"></i></a>

                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-3 ">

                        <div class="section-title section-title-sm position-relative">
                            <h3 class="text-light mb-0">About Us</h3>
                        </div>
                        <p class=" pt-2 pt-md-4">
                            Experience Exceptional Care Today! Contact Vasavi Hospitals for
                            Expert Medical Attention and Personalized Healthcare Solutions.
                            Your Health is Our Priority - Book an Appointment to Begin Your
                            Journey to a Healthier Life!
                            <!-- Experience Exceptional Care Today! Contact Vasavi Hospitals for Expert Medical Attention and Personalized Healthcare Solutions. Your Health is Our Priority - Book an Appointment to Begin Your Journey to a Healthier Life! -->
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-12 pt-0 pt-lg-3 ">
                        <div class="section-title section-title-sm position-relative">
                            <h3 class="text-light mb-0">Quick Links</h3>
                        </div>
                        <div class="link-animated pt-2 pt-md-4 d-flex flex-column justify-content-start">
                            <a class="text-light mb-2" rel="canonical" [routerLink]="'/home'"><i
                                    class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                            <a class="text-light mb-2" rel="canonical" [routerLink]="'/about'"><i
                                    class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                            <a class="text-light mb-2" rel="canonical" [routerLink]="'/awards'"><i
                                    class="bi bi-arrow-right text-primary me-2"></i>Awards</a>

                            <a class="text-light mb-2" rel="canonical" [routerLink]="'/gallery'"><i
                                    class="bi bi-arrow-right text-primary me-2"></i>Gallery</a>
                            <a class="text-light mb-2" rel="canonical" target="_blank" rel="noopener noreferrer"
                                href="https://vasavihospitals.com/blog/"><i
                                    class="bi bi-arrow-right text-primary me-2"></i>Blog</a>
                            <a class="text-light" rel="canonical" [routerLink]="'/contact'"><i
                                    class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                        </div>
                    </div>



                    <div class="col-lg-5 col-md-12 pt-4 pt-md-3">
                        <div class="section-title section-title-sm position-relative ">
                            <h3 class="text-light mb-0">Get In Touch</h3>
                        </div>
                        <div class="d-flex mb-2 pt-2 pt-md-4">
                            <i class="bi bi-geo-alt text-primary me-2"></i>
                            <p class="mb-0 d-none text-start d-md-block">#15, 1<sup>st</sup> Stage, Opp. to 15E Bus
                                Stop, <br>
                                70<sup>th</sup> Cross Rd, Kumaraswamy Layout,
                                Bengaluru, Karnataka 560078
                            </p>
                            <p class="d-block text-start d-md-none">
                                #15, 1<sup>st</sup> Stage, Opp. to 15E Bus Stop,
                                70<sup>th</sup> Cross Rd, Kumaraswamy Layout,
                                Bengaluru, Karnataka 560078
                            </p>
                        </div>



                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-primary me-2"></i>
                            <p class="mb-0"><a class="text-light" rel="canonical"
                                    href="mailto:appointments@vasavihospitals.com">appointments@vasavihospitals.com</a>
                            </p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-primary me-2"></i>
                            <p class="mb-0"><a class="text-light" rel="canonical" href="tel:080 71 500 500">080 71 500
                                    500</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-white" style="background: #061429;">
    <div class="container text-start">
        <div class="row d-flex justify-content-between pt-3 pb-5 pb-md-0">
            <div class="col-12 col-md-6 d-flex align-items-start flex-column">
                <p>&copy; Vasavi Hospitals All Rights Reserved.</p>
            </div>

            <!-- Show "Invention Minds" only for specified routes -->
            <div class="col-12 text-start col-md-6 d-flex align-items-sm-start align-items-md-end flex-column"
                *ngIf="showDesigner()">
                <p>
                    Designed and Developed by
                    <a href="https://inventionminds.com/" target="_blank" rel="noopener noreferrer">
                        Invention Minds LLP
                    </a>
                </p>
            </div>

            <!-- Otherwise, show "Future Revolution" -->
            <div class="col-12 text-start col-md-6 d-flex align-items-sm-start align-items-md-end flex-column"
                *ngIf="!showDesigner()">
                <p>
                    Designed by
                    <a href="https://www.furecs.com/" target="_blank" rel="noopener noreferrer" rel="canonical">
                        Future Revolution
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<!-- <a  rel="canonical" href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a> -->
<!-- Back to Top -->
<!-- <a  rel="canonical" href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a> -->

<!-- End Go Top Area -->
<nav class="mobile-bottom-nav d-block d-sm-none d-md-none">
    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
                <div class="mobile-bottom-nav__item-content">
                    <a rel="canonical" [routerLink]="'/home'">
                        <i class='fa fa-home'></i>
                        Home
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <a rel="canonical" href="tel:080 71 500 500">
                        <i class='fa fa-phone'></i>
                        Call
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <a rel="canonical" href="https://api.whatsapp.com/send?phone=+9188845 45086">
                        <i class='fab fa-whatsapp'></i>
                        Whatsapp
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <a rel="canonical" [routerLink]="'/contact'">
                        <i class='fa fa-envelope'></i>
                        Enquire
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal" id="enquire" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mod_head">
                <h5 class="modal-title" id="exampleModalLabel"><i class='bx bx-envelope vrt'></i> Enquire Now</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"
                    style="color:#fff"></button>
            </div>

            <div class="modal-body">
                <div class="contact-form contact-forms">
                    <div class="container">
                        <form class="cons-contact-form" method="POST" action="contact_mailer.php" id="contactForm">
                            <div class="row g-3">

                                <div class="col-12 col-sm-6">
                                    <label for="">Your Name</label>
                                    <input name="name" required=" " required=" " type="text"
                                        class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for=""> Contact Number</label>
                                    <input name="phone" required=" " required=" " type="tel"
                                        class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div>
                                <!-- <div class="col-12 col-sm-12">
                                    <label for="">Your Email Id</label>
                                    <input type="email" name="email" class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div> -->
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <label for="">Appointment Date</label>
                                        <input type="date" name="date"
                                            class="form-control  bg-light text-dark border-0 datetimepicker-input"
                                            placeholder="" data-target="#date" data-toggle="datetimepicker"
                                            style="height: 55px;">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="">Service Looking For</label>
                                    <input type="text" name="service" class="form-control bg-light border-0"
                                        placeholder="" style="height: 55px;">
                                </div>

                                <div class="col-12 col-sm-12">
                                    <label for="">Leave your message here</label>
                                    <textarea name="message" class="form-control bg-light border-0" id="" cols="30"
                                        rows="4" placeholder=""></textarea>
                                </div>

                                <!-- ✅ reCAPTCHA -->
                                <div class="form-group mt-3">
                                    <div id="recaptcha-container"></div> <!-- IMPORTANT -->
                                    <div class="help-block with-errors"></div>
                                </div>



                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" name="submit" type="submit">Make An
                                        Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="enquire" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mod_head">
                <h5 class="modal-title" id="exampleModalLabel"><i class='bx bx-envelope vrt'></i> Enquire Now</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"
                    style="color:#fff"></button>
            </div>

            <div class="modal-body">
                <div class="contact-form contact-forms">
                    <div class="container">
                        <form class="cons-contact-form" method="POST" action="contact_mailer1.php" id="contactForm">
                            <div class="row g-3">

                                <div class="col-12 col-sm-6">
                                    <label for="">Your Name</label>
                                    <input name="name" required=" " required=" " type="text"
                                        class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for=""> Contact Number</label>
                                    <input name="phone" required=" " required=" " type="tel"
                                        class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div>
                                <!-- <div class="col-12 col-sm-12">
                                    <label for="">Your Email Id</label>
                                    <input type="email" name="email" class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div> -->
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <label for="">Appointment Date</label>
                                        <input type="date" name="date"
                                            class="form-control  bg-light text-dark border-0 datetimepicker-input"
                                            placeholder="" data-target="#date" data-toggle="datetimepicker"
                                            style="height: 55px;">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="">Package Looking For</label>
                                    <input type="text" name="service" class="form-control bg-light border-0"
                                        placeholder="" style="height: 55px;">
                                </div>

                                <div class="col-12 col-sm-12">
                                    <label for="">Leave your message here</label>
                                    <textarea name="message" class="form-control bg-light border-0" id="" cols="30"
                                        rows="4" placeholder=""></textarea>
                                </div>

                                <div class="form-group mt-3">
                                    <div class="g-recaptcha" data-sitekey="6LcVL3AqAAAAAKTqMfy5xse-fU5RQHVpUM9-LqPT"
                                        data-callback='onSubmit' data-action='submit'>
                                    </div>
                                    <input class="form-control d-none" data-recaptcha="true">
                                    <div class="help-block with-errors"></div>
                                </div>



                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" name="submit" type="submit">Make An
                                        Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="enquire1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mod_head" id="popup-close">
                <h5 class="modal-title" id="exampleModalLabel"><i class='bx bx-envelope vrt'></i> Enquire Now</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"
                    style="color:#fff"></button>
            </div>

            <div class="modal-body">
                <div class="contact-form contact-forms">
                    <div class="container">
                        <form class="cons-contact-form" method="POST" action="contact_mailer.php" id="contactForm">
                            <div class="row g-3">

                                <div class="col-12 col-sm-6">
                                    <label for="">Your Name</label>
                                    <input name="name" required=" " required=" " type="text"
                                        class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for=""> Contact Number</label>
                                    <input name="phone" required=" " required=" " type="tel"
                                        class="form-control bg-light border-0" placeholder="" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-12">
                                    <label for="">Your Email Id</label>
                                    <input type="email" name="email" class="form-control bg-light border-0"
                                        placeholder="" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <label for="">Appointment Date</label>
                                        <input type="date" name="date"
                                            class="form-control bg-light text-dark border-0 datetimepicker-input"
                                            placeholder="" data-target="#date" data-toggle="datetimepicker"
                                            style="height: 55px;">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="">Service Looking For</label>
                                    <input type="text" name="service" class="form-control bg-light border-0"
                                        placeholder="" style="height: 55px;">
                                </div>

                                <div class="col-12 col-sm-12">
                                    <label for="">Leave your message here</label>
                                    <textarea name="message" class="form-control bg-light border-0" id="" cols="30"
                                        rows="4" placeholder=""></textarea>
                                </div>


                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" name="submit" type="submit">Make An
                                        Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>