<div class="form" id="appointmentFormSection">
    <div class="form-heading">Book Your Appointment</div>
    <form [formGroup]="appointmentForm" class="form-content">
        <div class="flex2"> <label>Select Date</label> <input type="date" formControlName="date" [min]="minDate"> <small
                class="error" *ngIf="appointmentForm.get('date')?.touched && appointmentForm.get('date')?.invalid"> Date
                is
                required </small> </div>
        <div class="flex2"> <label>Full Name:</label> <input type="text" formControlName="name"> <small class="error"
                *ngIf="appointmentForm.get('name')?.touched && appointmentForm.get('name')?.invalid"> Name is
                required </small> </div>
        <div class="flex2"> <label>Mobile Number:</label>
            <div class="otp"> <input type="number" formControlName="mobile"> <button type="button" (click)="sendOtp()"
                    [disabled]="!canSendOtp">Send OTP</button> </div> <small class="error"
                *ngIf="appointmentForm.get('mobile')?.touched && appointmentForm.get('mobile')?.invalid"> Enter
                a valid 10-digit mobile number </small>
        </div> <!-- OTP Input -->
        <div class="flex2" *ngIf="otpSent"> <label>Enter OTP:</label> <input type="number" formControlName="otp"> <small
                class="error" *ngIf="otpInvalid">Incorrect OTP</small> <small class="error" *ngIf="otpExpired">OTP
                expired. Please resend.</small>
            <div class="otp-timer"> <span *ngIf="timeLeft > 0">Resend OTP in {{ timeLeft }}s</span> <button
                    type="button" *ngIf="timeLeft === 0" (click)="resendOtp()">Resend OTP</button> </div>
        </div> <button class="btn" type="submit" *ngIf="otpSent" (click)="verifyOtp()"
            [disabled]="otpSent && appointmentForm.invalid"> Verify OTP </button>
    </form>
</div>