.form {
    width: 450px;
    height: auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 3px 4px 45px 0 rgba(0, 0, 0, 0.25);
    padding: 40px;

}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: start; */
    justify-content: center;
    margin-top: 20px;
}

.form-heading {
    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.otp {
    display: flex;
    gap: 10px;
    align-items: center;
}

.otp input {
    width: 290px;
}

.otp button {
    display: inline-flex;
    height: 46px;
    width: 42%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: transparent;
    /* box-shadow: 3px 4px 15px 0 rgba(63, 176, 206, 0.65); */
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border: 1px solid #1B8FCD;

}

.otp button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



input {
    width: 390px;
    height: 46px;
    border-radius: 10px;
    background: #D9D9D9;
    border: none;
    padding: 10px;
}

.form .btn {
    display: inline-flex;
    height: 52px;
    padding: 18px 26px 18px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1B8FCD;
    box-shadow: 3px 4px 15px 0 rgba(63, 176, 206, 0.65);
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border: none;

}


label {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.otp-timer {
    margin-top: 8px;
    font-size: 14px;
    color: #1B8FCD;
}

.otp-timer button {
    background: transparent;
    border: 1px solid #1B8FCD;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}